/*admin siteadmin_icons*/

span.editItem {
	display: block;
}

.titleEdit {
	margin-bottom: 15px;
}

.iconEdit, .iconEdit:hover, .box a.iconEdit, .box a.iconEdit:hover {
	background-image:url(../admin_icons/application_edit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
}



.iconAdd, .iconAdd:hover, .box a.iconAdd, .box a.iconAdd:hover {
	background-image:url(../admin_icons/application_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
}

.iconLogout, .iconLogout:hover {
	background-image:url(../admin_icons/cancel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
}


a.iconAddLink, a.iconAddLink:hover {
	display: block;
	background-image:url(../admin_icons/link_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconEditLink, .iconEditLink:hover {
	background-image:url(../admin_icons/link_edit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconAddImage, .iconAddImage:hover {
	display: block;
	background-image:url(../admin_icons/picture_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconAddVideo, .iconAddVideo:hover {
	display: block;
	background-image:url(../admin_icons/film_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconAddGallery, .iconAddGallery:hover {
	display: block;
	background-image:url(../admin_icons/photo_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconGalleryList, .iconGalleryList:hover {
	display: block;
	background-image:url(../admin_icons/photo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconGalleryListBox1, .iconGalleryListBox1:hover {
	background-image:url(../admin_icons/film.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

a.iconAddDocument, a.iconAddDocument:hover {
	display: block;
	background-image:url(../admin_icons/page_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0px 0px 24px 20px;
	margin: 0px 0px 4px;
}

.iconAddDocCat, .iconAddDocCat:hover {
	display: block;
	background-image:url(../admin_icons/folder_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconEnquiry, .iconEnquiry:hover{
	display: block;
	background-image:url(../admin_icons/email.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconViewUser, .iconViewUser:hover{
	display: block;
	background-image:url(../admin_icons/user_go.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconAddUser, .iconAddUser:hover{
	display: block;
	background-image:url(../admin_icons/user_add.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

.iconUploads, .iconUploads:hover{
	display: block;
	background-image:url(../admin_icons/accept.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	margin: 0px 0px 4px;
}

span.ok {
	padding-left: 20px;
	background-image: url(../admin_icons/accept.png);
	background-repeat: no-repeat;
	background-position: top left;
}

span.fail {
	padding-left: 20px;
	background-image: url(../admin_icons/error.png);
	background-repeat: no-repeat;
	background-position: top left;
}


span.thanks {
	padding-left: 20px;
	background-image: url(../admin_icons/emoticon_smile.png);
	background-repeat: no-repeat;
	background-position: top left;
}

span.sad {
	padding-left: 20px;
	background-image: url(../admin_icons/emoticon_unhappy.png);
	background-repeat: no-repeat;
	background-position: top left;
}

