#navigation li a {
	display: block;
	padding-top: 32px;
	height: 48px;
}
#wrapper {
	padding-left: 1px;
}


table, tr, th, td {
	border-collapse: collapse;
	
}

table.list th a {
}

.labelCheckbox {
	margin-left: 115px;
}


.boxList th {
	height: 30px;
}
/*
form fieldset {
}

form fieldset legend {
}
*/
/*tasklist multi select*/
/*
form div.cover {
    float: none;
}
*/
/*lotc stuff*/
/*

.uploads_list a, .lotc_box_list a {
	display: inline;
	float: none;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#content ul.uploads_list li,ul.lotc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: none;
}
*/


/*form bits*/
form.handsam_frm_a div.frm_row {
	/*	width: 550px;*/
}
/*
form fieldset {
	padding-top: 0px;
}
*/
/*acc form*/

form.acc_form div.col div.frm_row {
	/*width: 280px;*/
}

/*
form div {
	float: none;
}
*/

