#wrapper {
	width:780px;
	margin: 0 auto;
	padding: 0;
}

#navigation li a {
	display: block;
	float: left;
	height: 48px;
}
#navigation li a.last_menu,
#navigation li a.last_menu_off {
	padding-right:35px;
	height: 80px;
}

#branding {
	height: 90px;
}

table, tr, th, td {
	border-collapse: collapse;
	
}

table.list td.end_ie6fix {
	border-right: 5px solid #333333;
}

table.list tfoot td {
	height: 30px;
}

table.list tfoot td.start {
	height: 30px;
}

table.list tfoot td.end {
	height: 30px;
}	

#content {
	display: inline;/*ie6 double margin bug fix*/
	margin: 0px 17px 40px 17px;
}

#boxes {
	margin: 10px 17px 10px 0px;
	width: 246px;
}

#healthandsafety {
	margin: 20px 0px 20px 0px;
}

#healthandsafety img {
	width: 495px;
	height: 57px
}

.boxList th {
	height: 30px;
}

/*
form.multiSelect #state {
	
	visibility: hidden;
}

form.multiSelect #assignedto {
	visibility: hidden;
}
*/
form fieldset div.feedback, form fieldset div.notes, form fieldset div.tasktext {
	margin: 0px 0px 0px 0px;
}

#content #adminDoc li {
	background-image: url(../images/attach.jpg);
}

#content #adminLinks li {
	background-image: url(../images/link.jpg);
}

form fieldset div.docsList {
	height: 60px;
}	

/* because no curvy corners in ie6 */
.box {
	padding: 8px;
}

#months_nav li {
	margin: 0px;
}

.vertical_nav li {
	margin: 0px 0px 3px 0px;
}

form div input {
	width: 199px;
}
 /*
form.multiSelect #state {
	
	visibility: hidden;
}

form.multiSelect #assignedto {
	visibility: hidden;
}
*/
form.multiSelect #taskmonth {
	
	visibility: hidden;
}

form.multiSelect #categoryid {
	visibility: hidden;
}



#categoryCover {
	background-image: url(../images/category.jpg);
	position: absolute;
	top: 53px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}

#monthCover {
	background-image: url(../images/months.jpg);
	position: absolute;
	top: 105px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}	


#dayCover {
	position: absolute;
	top: 156px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #444444;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}


#stateSACover {
	background-image: url(../images/state.jpg);
	position: absolute;
	top: 207px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}


/*lotc stuff*/
/*
.uploads_list a, .lotc_box_list a {
	display: inline;
	float: none;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#content ul.uploads_list li,ul.lotc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: none;
}
*/
#account_logo {
	display: inline;
	margin: 9px 10px 0px 0px;
}

#loggedin {
	width: 390px;
}


#handsamlogo {
	margin-bottom: 10px;
	margin-top: 10px;
}


#boxes {
	margin: 10px 10px 10px 0px;
}

.labelCheckbox {
	margin-left: 100px;
}
*/