/*main admin navigation*/
ul, li, a, th, td, table, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: "Trebuchet MS",Verdana, Sans-serif;
	font-size: 9pt;
	background: #7F7F7F;
	padding: 0px;
	margin: 0px;
}

#wrapper {
	clear: both;
	width: 620px;
	text-align: left;
	margin:0px auto 0px;
	background:url(../images/page_bg.jpg) center #7F7F7F repeat-y;
}

#branding {
	width: 580px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	margin:20px auto 0px;
	clear: both;
	background:url(../images/header.jpg) top #7F7F7F no-repeat;
	height: 100px;
}

#navigation {
	width:620px;
	margin: 0px;
	
}

#navigation li {
	list-style-type:none;
	float:left;
}

#navigation li a {
	padding: 0px 10px 0px 10px;
}
	
#navigation li.last_menu,
#navigation li.right_menu {
	float:right;
}

#loggedin {
	float:right;
	text-align: right;
	color: #ffffff;
	padding: 80px 0px 0px 0px;
}

#content_wrapper {
	margin: 0px 10px 0px 10px;
	width: 600px;
	background: #D7D7D7;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 20px;
}

#content {
	position: relative;
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	width: 560px;
	overflow: visible;
}

#healthandsafety {
	margin: 20px 0px 20px 0px;
}

#contentWide {
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	border: 0px solid #333333;
	width: 562px;
	/*
	height: 600px;
	*/
	overflow: visible;
	background: transparent;
}


#footer {
	clear: both;
	background:url(../images/footer.jpg) bottom  repeat-x;
	width: 580px;
	padding: 20px 20px;
	text-align: left;
	margin:0px auto 10px;
	color: #ffffff;
}

	
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    font-size: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



#handsamlogo {
	float: left;
	width: 275px;
	height: 99px
}

#healthandsafety img {
	width: 504px;
	height: 57px
}