/*main admin navigation*/
ul, li, a, th, td, table, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	padding: 0px;
	margin: 0px;
}

#wrapper {
	clear: both;
	width: 680px;
	text-align: left;
	margin:0px auto 0px;
}

#branding {
	width: 680px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	margin:20px auto 0px;
	clear: both;
}

#navigation {
	width:680px;
	margin: 0px;
	
}

#navigation li {
	list-style-type:none;
	float:left;
}

#navigation li a {
	padding: 0px 10px 0px 10px;
}
	
#navigation li.last_menu,
#navigation li.right_menu {
	float:right;
}

#loggedin {
	float:right;
	text-align: right;
	padding: 80px 0px 0px 0px;
}

#content_wrapper {
	margin: 0px 0px 0px 0px;
	width: 680px;
	padding-bottom: 20px;
}

#content {
	position: relative;
	margin: 0px 8px 40px 8px;
	float: left;
	padding: 0px;
	min-height: 300px;
	width: 660px;
	overflow: visible;
    display: inline;
}

#healthandsafety {
	margin: 20px 0px 20px 0px;
}

#contentWide {
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	border: 0px solid #333333;
	width: 600px;
	/*
	height: 600px;
	*/
	overflow: visible;
	background: transparent;
}


#footer {
	clear: both;
	width: 640px;
	padding: 20px 20px;
	text-align: left;
	margin:0px auto 10px;
}

	
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



#handsamlogo {
float: left;
}

a.attachDoc, a.attachLink {
    background: url(../images/btn_purple.gif) 0px 0px no-repeat;
    padding-top: 2px;
    color: #ffffff !important;
    height: 23px;
    width: 147px;
    display: block;
    text-align: center;
}

a.attachDoc:hover, a.attachLink:hover {
    background-position: 0px -23px;
    color: #7B007B !important;
}


#navigation li a {
	_display: block;
	_float: left;
	_height: 48px;
}

#navigation li a.last_menu,
#navigation li a.last_menu_off {
	_padding-right:35px;
	_height: 80px;
}