#wrapper {
	width:780px;
	margin: 0 auto;
	padding: 0;
}
#navigation li a {
	display: block;
	float: left;
	height: 48px;
}

#navigation li a.last_menu,
#navigation li a.last_menu_off {
	padding-right:35px;
	height: 80px;
}

#branding {
	height: 90px;
}

table, tr, th, td, table.acc_list, table.acc_list tr, table.acc_list td {
	border-collapse: collapse;
	
}

table.list td.end_ie6fix {
	border-right: 5px solid #333333;
}

table.list tfoot td {
	height: 30px;
}

table.list tfoot td.start {
	height: 30px;
}

table.list tfoot td.end {
	height: 30px;
}	

#content {
	display: inline;/*ie6 double margin bug fix*/
	margin: 0px 4px 40px 8px;
}

#boxes {
	display: inline;/*ie6 double margin bug fix*/
	margin: 10px 4px 10px 10px;
	width: 246px;
}



#healthandsafety {
	margin: 20px 0px 20px 0px;
}

#healthandsafety img {
	width: 495px;
	height: 57px
}

.boxList th {
	height: 30px;
}

/*
form.multiSelect #state {
	
	visibility: hidden;
}

form.multiSelect #assignedto {
	visibility: hidden;
}
*/
form fieldset div.feedback, form fieldset div.notes, form fieldset div.tasktext {
	margin: 0px 0px 0px 0px;
}

#content #adminDoc li {
	background-image: url(../images/attach.jpg);
}

#content #adminLinks li {
	background-image: url(../images/link.jpg);
}

form fieldset div.docsList {
	height: 60px;
}	

/* because no curvy corners in ie6 */
.box {
	padding: 8px;
}

#months_nav li {
	margin: 0px 0px 0px 4px;
}

.vertical_nav li {
	margin: 0px 0px 3px 0px;
}

form div input {
	width: 199px;
}

/*lotc stuff*/
/*
.uploads_list a, .lotc_box_list a {
	display: inline;
	float: none;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#content ul.uploads_list li,ul.lotc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: none;
}
*/
#account_logo {
	display: inline;
	margin: 9px 10px 0px 0px;
}

#loggedin {
	width: 390px;
}


#handsamlogo {
	margin-bottom: 10px;
	margin-top: 10px;
}


#boxes {
	margin: 10px 4px 10px 16px;
}

.labelCheckbox {
	margin-left: 100px;
}

/* ie6 compatability April 2012*/

#navigation li.current_page_item ul {
	display: block;
	background: #B0D80F;
}

#navigation li.sub_menu:hover a {
	background-position: 0px -240px;
}


#navigation li.current_page_item a {
	background-position: 0px -160px !important;
	color:#1F3700;
}

#navigation li a {
	line-height:80px;
}

#navigation li li a {
	line-height: 20px;
}

#contentWide {
	display: inline;
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	width: 962px;
	overflow: visible;
}


input.date {
	width: 130px;
}

.home .box {
    width: 400px;
}

.box {
	padding: 0px;
	width: 300px;
}

.box form {
	width: 300px;
}

.box form div label {
    margin: 0 0 5px 5px;
    width: 60px;
}

input.checkbox, .inputCheckbox {
	width: 20px;
}


#content #form_body span.value span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    display: block;
    float: left;
    margin: 0;
    padding: 6px 2px;
}

#content #form_body select {
    float: left;
    margin-right: 8px;
    width: 300px;
}

.box h2 {
	font-size: 13pt;
}

#loader {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 4000px;
	background: #000000;
	opacity:0.6;
	filter:alpha(opacity=60);
	
}
	
#loader img {
	position: absolute;
	top: 350px;
	left: 46%;
}


table.acc_list tfoot{
	height: 0px;
	padding: 0px 0px 0px 0px;
}

table.acc_list tfoot td{
	height: 0px;
}

.inputCover {
    left: 135px;
}

.multiSelectCheck {
    float: none;
    margin: 8px 0px 0 0;
    padding: 0px;
    width: 13px;
}


#content #form_body span.value span.docsList {
	height:auto !important;
	height: 60px;
}

#content #form_body span.value span.feedback, #content #form_body span.value span.notes, #content #form_body span.value span.tasktext {
    height:auto !important;
    height:120px;
    
}

#popup #frForm {
    float: left;
    position: relative;
}

#content #form_body div.col div.extra_text label,   #content #form_body div.col div.extra_text span.label, #content #form_body div.col label, #content #form_body div.col span.label {
	width: 70px;
	padding: 6px 0px 3px 0px;
}

#content #form_body div.col span.value {
	float: left; 
	width: 188px;
}

.comments, .comments p {
	width: 560px;
}

.col .comments, .col .comments p {
	width: 240px;
}

.acc_box_header h2 {
	font-size: 12pt;
}

#content #form_body input.inputRadio, form div input.inputRadio {
	width: 15px;
	margin: -1px 10px 0px 0px;
}




#select_users_dialog #form_body div.col div.extra_text span.label, #select_users_dialog #form_body div.col label, #select_users_dialog #form_body div.col span.label {
	width: 60px;
	padding: 3px 5px 3px 0px;
}

