/*main admin navigation*/
ul, li, a, th, td, table, h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-size: 9pt;
	padding: 0px;
	margin: 0px;
}

#frForm {
	position: relative;
}

#wrapper {
	clear: both;
	width: 1020px;
	text-align: left;
	margin:0px auto 0px;
}


/*navigation */

#navigation {
	width:1000px;
	margin:0px 0px 0px 10px;
}

#navigation li {
	list-style-type:none;
	float:left;
}

#navigation li a {
	padding: 0px 10px 0px 10px;
}
	
#navigation li.last_menu,
#navigation li.right_menu {
	float:right;
}


#loggedin {
	width: 401px;
	margin: 9px 0px 0px 0px;
	float:right;
	text-align: right;
	padding: 25px 10px 0px 0px;
	position: relative;
}

#loggedin p{
	margin: 0px 0px 4px;
	padding: 0px;
}

#logout1 {
	position: absolute;
	bottom: 0px;
	left: 12px;
	font-size: 1.2em;
}

#loggedin h2{
	font-size: 1.4em;
	margin: 0px 0px 4px;
	padding: 0px;
}

#account_logo {
	float: right;
	margin: 9px 10px 0px 0px;
}

#no_logo {
	float: right;
	width: 10px;
	margin: 9px 10px 0px 0px;
}



#content_wrapper {
	margin: 0px 10px 0px 10px;
	width: 1000px;
	padding-bottom: 20px;
}

/* content*/

#content {
	position: relative;
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	width: 646px;
	overflow: visible;

}


#content h2, #contentWide h2 {
	display: block;
	text-align:	left;
}

/*
#healthandsafety {
	margin: 20px 0px 20px 0px;
}
*/

#contentWide {
	margin: 0px 18px 40px 18px;
	float: left;
	padding: 0px;
	min-height: 300px;
	width: 962px;
	overflow: visible;
}


#boxes {
	margin: 10px 18px 10px 0px;
	display: inline;
	float: left;
	width: 300px;
	margin-right: 0px;
}

.box {
	margin: 0px 0px 36px 0px;
}


#footer {
	clear: both;
	width: 980px;
	padding: 20px 20px;
	text-align: left;
	margin:0px auto 10px;
}

#semantise {
	float: left;
}

#terms {
	float: right;
}
	
#privacy {
	float: right;
	margin: 0px 0px 0px 20px;
}
	
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    font-size: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


#loginform {
	width: 430px;
	padding: 40px 10px;
	margin: 10px;
	height: 240px;
}

#frForm_forgot {
	width: 430px;
	padding: 20px 10px;
	margin: 10px;
	height: 240px;
}

#frForm_forgot p {
	margin: 0px 0px 30px 20px;
}

#loginform label, #frForm_forgot label{
	display: block;
	float: left;
	width: 50px;
	padding: 3px 5px 3px 0px;
	margin: 0 0 5px 20px;
	text-align: right;
}

#loginform div, #frForm_forgot div {
	clear: left;
	display: block;
	margin: 5px 0 20px 0;
	padding: 1px 3px 1px 0px;
}

#loginform fieldset, #frForm_forgot fieldset {
	border: 0px;
}

#loginform  input.inputText, #frForm_forgot div input.inputText {
	width: 300px;
	padding: 3px 3px;
	margin: 0 0 0 10px;
}

#loginform input.inputCheckbox {
	display: inline;
	height: 14px;
	width: 14px;
	padding: 0;
	margin: 3px 3px 0px 10px;
}

#loginform input.inputSubmit, #frForm_forgot div input.inputSubmit {
	width: auto;
	padding: 0 16px;
	margin: 0;
}
#loginform #cookie_warning, #loginform #cookie_warning p{
padding:0px;
color:red;
}


h4 {
	float: left;
}

h1  {
	display: block;
	text-align:	left;
}

/*home page modules styles here*/
/*training Log*/
a.training_module {
	display: block;
	background: url(../modules/training/images/training.png) no-repeat 0px 0px;
	text-decoration: none;
	color: #222222;
	font-size: 1.2em;
	padding: 10px 0px 20px 80px;
	margin: 0px 0px 20px 0px;
}

a.training_module:hover {
	background: url(../modules/training/images/training.png) no-repeat 0px 0px;
	opacity:0.4;
	filter:alpha(opacity=40);
}

/*accident Book*/
a.accident_module {
	display: block;
	background: url(../modules/accidents/images/accidents.png) no-repeat 0px 0px;
	text-decoration: none;
	color: #222222;
	font-size: 1.2em;
	padding: 10px 0px 20px 80px;
	margin: 0px 0px 20px 0px;
}

a.accident_module:hover {
	background: url(../modules/accidents/images/accidents.png) no-repeat 0px 0px;
	opacity:0.4;
	filter:alpha(opacity=40);
}



/*new additions from customise*/
.info {
	background-image: url(../images/icon_info.gif);
	background-repeat: no-repeat;
	background-position: 5px 1px;
	margin: 5px 5px;
	text-align: justify;
}

#content .info {
	margin: 10px 0px;
	background-position: 0px 1px;
}


.info:first-letter {
	padding: 0px 0px 0px 25px;
}

ul.docList a{
	background-image:url(../admin_icons/page.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	color: #666666;
}

ul.docList{
	margin: 0px 0px 20px 10px ;
}

ul.docList li {
	margin: 0px;
}

h3.docList {
	margin: 8px 0px 4px 10px;
}

ul.docList img {
	margin: 0px 0px 0px 20px;
	cursor: pointer;
}

ul.linkList a{
	background-image:url(../admin_icons/link.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	color: #666666;
}

ul.linkList{
	margin-left: 10px;
}

ul.linkList li {
	margin: 0px;
}



ul.linkList img {
	margin: 0px 0px 0px 20px;
	cursor: pointer;
}


#loader {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity:0.6;
	filter:alpha(opacity=60);
	
}
	
#loader img {
	position: absolute;
	top: 40%;
	left: 46%;
}

