#navigation li a {
	display: block;
	padding-top: 32px;
	height: 48px;
}
#wrapper {
	padding-left: 1px;
}


table, tr, th, td {
	border-collapse: collapse;
	
}

table.list th a {
}

/*
.labelCheckbox {
	margin-left: 115px;
}
*/

.boxList th {
	height: 30px;
}


#no_logo {
	margin: 9px 9px 0px 0px;
}
