/* tables*/
/*results tables */

table, tr, th, td {
	margin: 0;
	padding: 0;
	
	border-spacing: 0px;
}

.centre {
	text-align: center;
}

.highlight { 
	background: #ADCF4F;
}

caption.hidden {
	visibility: hidden;
	display: none;
}


/*gives no link same padding as links	*/
th.nolink, td.nolink {
	padding: 0px 0px 0px 10px;
}
/*acc table list*/

table.acc_list {
	table-layout: fixed;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	border: 0px;
	float: left;
	clear: both;
	width: 100%;
}

table.acc_list {
	_table-layout: fixed;
    _border-collapse: collapse;
}

table.acc_list thead {
}

table.acc_list thead th {
	/*padding: 14px 10px 12px 10px;*/
	padding: 7px 5px 2px 5px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
	height: 40px;
}

table.acc_list thead th.username {
	width: 320px;
}

table.acc_list thead th.address {
	width: 250px;
}

table.acc_list thead th.accountname {
	width: 230px;
}

table.acc_list thead th.lid {
	width: 40px;
}

table.acc_list thead th.tasklistname {
	width: 200px;
}

table.acc_list thead th.userid {
	width: 50px;
}

table.acc_list thead th.from {
	width: 170px;
}

table.acc_list thead th.cat {
	width: 120px;
}

table.acc_list thead th.email {
	width: 270px;
}

table.acc_list tbody td {
	background: transparent;
}

table.acc_list tfoot {
	height: 40px;
	padding: 0px 0px 0px 0px;
}

table.acc_list tfoot .start a {
	margin: 10px 0px 0px 10px;
}

table.acc_list tfoot td{
	padding: 0px 0px 50px 0px;
}

table.acc_list tbody td {
	padding: 6px 0px 6px 3px;
	font-size: 1.2em;
	font-weight: normal;
	color: #111111;
	text-align: left;
	word-wrap: break-word;
	vertical-align: top;
}

table.acc_list tbody a {
	display: block;
	text-decoration: none;
	color: #111111;
	padding: 0px 0px;
}
	
table.acc_list tbody td.start {
	padding-left: 10px;
}

table.acc_list tbody tr td.end {
	padding-right: 10px;
}



table.acc_list tbody tr td.tasktext, table.acc_list thead tr th.tasktext {
	width: 500px;
}

table.acc_list tbody tr td.centre {
	text-align: center;
}

table.acc_list tbody tr td.tasktext_usr, table.acc_list thead tr th.tasktext_usr {
	width: 330px;
}

table.acc_list thead tr th.day {
	width: 40px;
	padding-left: 10px;
	padding-right: 0px;
}


table.acc_list thead tr th.Status {
	width: 53px;
	padding-left: 7px;
	padding-right: 0px;
}

table.acc_list tbody tr td.day {
	width: 43px;
	padding-left: 7px;
	padding-right: 0px;
}

table.acc_list thead tr th.check {
	width: 10px;
}

table.acc_list tbody tr td.check {
	width: 30px;
	margin: 0px;
	padding: 0px;
	
}

table.acc_list tbody tr td.feedback, table.acc_list thead tr th.feedback {
	width: 35px;
	padding-left: 0px;
}

/*home page alert list*/
table.acc_list tbody tr td.icon, table.acc_list thead tr th.icon {
	width: 20px;
	padding-left: 0px;
}

table.acc_list tbody tr td.date, table.acc_list thead tr th.date {
	width: 100px;
} 

table.acc_list tbody tr td.alertusername, table.acc_list thead tr th.alertusername {
	width: 200px;
}

table.acc_list tbody tr td.alerttasktext, table.acc_list thead tr th.alerttasktext {
	width: 460px;
}

body.home table.acc_list tbody tr td.alerttasktext, table.acc_list thead tr th.alerttasktext {
	width: 260px;
}

a.h_ul:hover {
	text-decoration: underline;
}

table.acc_list tbody tr td.late a {
    background: url(../images/icon_error_red.gif) no-repeat top left;
    padding: 0px 2px 0px 22px;
}

table.acc_list tbody tr td.late_complete a {
    background: url(../images/tick_red.gif) no-repeat top left;
    padding: 0px 2px 0px 22px;
}

table.acc_list tbody tr td.complete a {
    background: url(../images/tick.gif) no-repeat top left;
    padding: 0px 2px 0px 22px;
}


#tab_tasklist_detail td.col_task_cat a {
    font-weight: bold;
}

table.acc_list tbody tr.highlight td.flag a {
    background: url(../images/red_flag.gif) no-repeat top right;
    padding: 0px 22px 0px 0px;
}