
/*side box table*/

table.boxList tfoot td a.tableLink { 
	font-weight: bold;
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0.6em;
	padding-left: 1.8em;

}

.boxList {
	margin: 20px 0px 0px 0px;
	width: 100%;
}


.boxList tbody a {
	padding: 10px 3px 0px 5px;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color:#333333;
	text-decoration: none;	
}

.boxList tbody a:hover {
	text-decoration: none;
}

.boxList tbody a.arrow {
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0.4em 14px;
	padding-left: 1.6em;
}

/* hover cream full strip*/
	
.boxList tbody tr:hover td,
.boxList tbody tr:hover th {
	background: #DDDDA7 url(../images/grad2.jpg) repeat-x top;
}
.boxList td.date {
	width: 80px;
}

.boxList caption {
	text-align: left;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	color: #814160;
	height: 40px;
	line-height: 40px;
	/*
	background: #FFD9B3;
	*/
	font-size: 13pt;
	border-bottom: 0px solid #814160;
	border-top: 0px solid #814160;
}

.boxList td.day {
	width: 50px;
}


.boxList tfoot td {
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	
}
	
.boxList tfoot a {
	font-size: 1.1em;
	color: #333333;
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0.4em .4em;
	padding-left: 1.6em;
}	

.boxList tfoot a:hover {
	background-image: url(../images/arrow2ltpurple.gif);
	color: #814160;
}

/*highlight licence coming to an end*/

tr.warn td {
	background: red;
	color: #ffffff;
}

/*task alert table*/

.alertList {
	margin: 0px 0px 20px 0px;
	width: 100%;
	background: #ffffcc;
}

.alertList tbody td {
	vertical-align: top;
	padding-left: 4px;
}

.alertList tbody a {
	padding: 10px 3px 0px 5px;
	display: block;
	font-size: 1.1em;
	font-weight: normal;
	color:#333333;
	text-decoration: none;	
}

.alertList tbody a:hover {
	text-decoration: none;
}


table.alertList tfoot td {
	background:url(../images/table_foot.jpg) 50% 0 #d7d7d7 repeat-x;
	height: 30px;
}

table.alertList tfoot td.start {
	background:url(../images/table_foot_start.jpg) left top #d7d7d7 repeat-x;
	height: 30px;
	border: 0px;
}

table.alertList tfoot td.end {
	background:url(../images/table_foot_end.jpg) right top #d7d7d7 repeat-x;
	height: 30px;
	border: 0px;
}	


table.alertList th {
	padding-top: 10px;
	color: #ffffff;
	background-color: #333333;
	border-bottom: 2px solid #333333;
	font-size: 10pt;
	line-height: 30px;
	height: 30px;
	background:url(../images/table_head.jpg) 50% 0 #515151 repeat-x;
}

table.alertList td.start {
	border-left: 2px solid #333333;
	padding-bottom: 5px;
}

table.alertList td.end {
	border-right: 2px solid #333333;
	padding-right: 2px;
}


table.alertList th.start {
	background:url(../images/table_head_start.jpg);
}

table.alertList th.end {
	background:url(../images/table_head_end.jpg) right top;
}
/*
.alertList tfoot tr td {
	height: 32px;
	background:url(../images/table_head.jpg) 50% 100% #515151 repeat-x;
	border-bottom: 2px solid #333333;
}
*/
.alertList caption {
	text-align: left;
	padding: 0px 0px 0px 0px;
	color: #814160;
	height: 40px;
	line-height: 40px;
	/*
	background: #FFD9B3;
	*/
	font-size: 13pt;
	font-weight: normal;
	border-bottom: 0px solid #814160;
	border-top: 0px solid #814160;
}

.alertList tbody tr:hover td,
.alertList tbody tr:hover th {
	background: #DDDDA7 url(../images/grad2.jpg) repeat-x top;
}

.alertList td.date {
	width: 80px;
}

.alertList td.icon {
	width: 20px;
}

.alertList tbody tr.late a {
	color:red;
}

.table_check_box {
	margin: 0px 10px;
	
}