/*tag cloud*/

#tag_cloud {
	font-size: 1.0em;
}

#tag_cloud li {
	float:left;
	margin: 1px 4px 1px 1px;
	padding: 2px 4px;
	white-space: no-wrap;
}

#tag_cloud li:hover, #tag_cloud li.tag_selected:hover{
	cursor: pointer;
	background: #cccccc;
}

#tag_cloud li.size1 {
	font-size: 0.8em;
	color: #888888;
}

#tag_cloud li.size2 {
	font-size: 0.9em;
	color: #777777;
}

#tag_cloud li.size3 {
	font-size: 1.0em;
	color: #666666;
}

#tag_cloud li.size4 {
	font-size: 1.1em;
	color: #555555;
}

#tag_cloud li.size5 {
	font-size: 1.2em;
	color: #444444;
}

#tag_cloud li.size6 {
	font-size: 1.3em;
	color: #333333;
}

#tag_cloud li.tag_selected {
	background: #2E61A0;
	color: #ffffff;
}

#clear_tag, #clear_search {
	clear: both;
	float: left;
	background: url(../images/reset.jpg) no-repeat 0px 5px;
	padding: 15px 0px 10px 40px;
	color: #000000;
	font-size: 10pt;
}

#clear_tag:hover, #clear_search:hover {
	cursor: pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
	
}
