/* tables*/
/*acc table list*/
/*
table.acc_list {
	table-layout: fixed;
	width: 646px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.acc_list thead {
	width: 646px;
}

table.acc_list thead th {
	padding: 14px 10px 12px 10px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
}

table.acc_list thead th.start {
	background: url(../images/acc_table_top.jpg) left top;
}

table.acc_list thead th.end {
	background: url(../images/acc_table_top.jpg) right top;
}

table.acc_list thead th {
	background: url(../images/acc_table_top.jpg) center top;
}


table.acc_list tbody {
	width: 646px;
}
*/

/*table row hover*/
/*
table.acc_list tbody tr:hover  td.start, table.acc_list tbody tr.highlight:hover  td.start{
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat 3px -120px;
}

table.acc_list tbody tr:hover  td, table.acc_list tbody tr.highlight:hover  td {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat -300px -120px;
}

table.acc_list tbody tr:hover  td.end, table.acc_list tbody tr.highlight:hover  td.end {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat  right -120px;
}
*/
/*table row normal*/
/*
table.acc_list tbody tr td.start {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat 3px 0px;
}

table.acc_list tbody tr td {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat top center;
}

table.acc_list tbody tr td.end {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat top right;
	padding-right: 4px;
}

table.acc_list tbody tr td.end a{
}
*/
/*table row highlight*/
/*
table.acc_list tbody tr.highlight td.start {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat 3px -240px;
}

table.acc_list tbody tr.highlight td {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat -300px -240px;
}

table.acc_list tbody tr.highlight td.end {
	background: url(../images/acc_table_full.jpg) #d7d7d7 no-repeat right -240px;
}


table.acc_list tbody td {
	background: transparent;
}

table.acc_list tfoot {
	height: 40px;
	padding: 0px 0px 0px 0px;
	width: 646px;
}

table.acc_list tfoot td.start {
	background: url(../images/acc_table_footer.jpg) left bottom;
}

table.acc_list tfoot td.end {
	background: url(../images/acc_table_footer.jpg) right bottom;
}


table.acc_list tfoot td {
	background: url(../images/acc_table_footer.jpg) center bottom;
}

table.acc_list tfoot td{
	padding: 0px 0px 60px 0px;
}

table.acc_list tbody td {
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;

	word-wrap: break-word;
}

table.acc_list tbody a {
	display: block;
	text-decoration: none;
	color: #111111;
	padding: 6px 5px;
}
	
table.acc_list tbody td.start {
	padding-left: 5px;
}

table.acc_list tbody td.end {
	padding-right: 7px;
}
*/