input, select, textarea {
	font-family: "Trebuchet MS",Verdana, Sans-serif;
	font-size: 100%;
	color: #000000;
}

#content #form_body {
	background: url(../images/acc_form.jpg) repeat-y;
	padding: 20px;
	width: 605px;
	margin-top: 0px;
}


#content #form_body form {
	width: 605px;
}


#content #form_header {
	background: url(../images/acc_form_top.jpg) no-repeat left top;
	width: 620px;
	margin: 20px 0px 0px;
	padding: 20px 15px 0px 10px;
}

#content form.key_task #form_header {
	background: url(../images/acc_form_top_hl.jpg) no-repeat left top;
}

#content form.key_task #form_header h2 span {	
    color: #ffffff;
}

#content form.key_task #form_header h2 {
    background: url(../images/red_flag.gif) no-repeat right top;
}


#content form.task_sync #form_header {
	background: url(../images/acc_form_top_hl2.jpg) no-repeat left top;
}

#content form.task_sync #form_header h2 {	
    color: #ffffff;
}

#content form.task_sync #form_header p {	
    color: #ffffff;
}

#content #form_header p {
	border-bottom: 1px solid #666666;
	padding: 0px 10px 10px;
	margin: 0px;
}

#content #form_header h2 {
	padding: 0px 10px 10px;
	margin: 0px;
}

#content #form_footer {
	background: url(../images/acc_form_footer.jpg) no-repeat left bottom;
	padding: 20px;
	width: 605px;
	margin: 0px;
}

#content #form_body div.extra_text {
	width: 136px;
	padding: 0px;
	margin: 0px;
	float: left;
}

#content #form_body div.extra_text label,   #content #form_body div.extra_text span.label, #content #form_body label, #content #form_body span.label {
	display: block;
	float: left;
	width: 110px;
	padding: 3px 13px 3px 0px;
	margin: 0px 2px 5px 10px;
	text-align: right;
}

#content #form_body div.noLabel a {
	font-weight: bold;
	background-image: url(../../../../images/arrow2purple.gif);
	background-repeat: no-repeat;
	background-position: 0 .3em;
	padding-left: 1.2em;
}

#content #form_body div.noLabel a:hover {
	background-image: url(../../../../images/arrow2grey.gif);
}

#content #form_body div.frm_row {
	margin: 5px 0px;
	position: relative;
	width: 600px;
}

#content #form_body div.col div.frm_row {
	width: 298px;
}

/* Inline form rows */
#content #form_body div.frm_row.inline{
width: auto;
display: inline-block;
vertical-align: middle;
}
#content #form_body div.col div.frm_row.inline {
width: auto;
display: inline-block;
vertical-align: middle;
}
#content #form_body .inline label{
display:none;
}
#content #form_body select.inline{
width: auto;
}

#content #form_body div.full {
	float: left;
}

#content #form_body div.noLabel {
	margin: 0px 0px 20px 140px;
}

#content #form_body span.value {
	float: left; 
	width: 300px;
	padding: 1px 3px;
	margin-top: 3px;
}

#content #form_body input.inputText {
	float: left; 
	width: 300px;
}

#content #form_body select {
	float: left; 
	width: 300px;
	margin-right: 10px;
}

#content #form_body div.select_wrap {
	position: relative;
	width: 300px;
	float: left;
}

#content #form_body  select.expand {
	position: absolute;
    width: auto;
}

#content #form_body textarea {
	float: left; 
	width: 410px;
}

#content #form_body input.date {
	float: left; 
	width: 200px;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 3px;
}

#content #form_body div.frmbutton, #content form.simple  div.frmbutton { 
	width: 400px;
	text-align: right;
	margin: 5px 0px 0px;
	padding: 0px;
	float: left;
}

div.frmbutton span {
	margin: 0px 15px 0px 0px;
}

#content #form_body input.inputSubmit, #content #form_body input.inputButton, #content form.simple input.inputSubmit, #content form.simple input.inputButton {
	width: auto;
	padding: 0 16px;
	margin: 0;
}

form.simple {
	padding: 0px 0px 20px 0px;
}


img.date_img {
	border: 0px;
	margin: 0px 0px 0px 4px;
	cursor: pointer;
	vertical-align: middle;
}


input.date:hover {
	cursor: pointer;
}

/* fields in task form*/
#content #form_body span.value span.docsList {
	float:left;
	width: 400px;
	min-height: 60px;
	overflow: auto;
	display: block;
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
}

#content #form_body span.value span.feedback, #content #form_body span.value span.notes, #content #form_body span.value span.tasktext {
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
	float:left;
	width: 400px;
	min-height: 120px;
	/*overflow: auto;*/
}

#content #form_body span.value span.budget, #content #form_body span.value span.upload, #content #form_body span.value span.datefield, #content #form_body span.value span.username {
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
	float:left;
	width: 192px;
}

.addUser {
	margin: 20px 10px 30px 135px;
	font-size: 1.1em;
}


/*fields in acc and training forms*/

#content #form_body div.frmSection p.frm_info. {
	margin: 10px 0px 20px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
}

#content #form_body div.frmSection { 
	margin: 0px 0px 30px 0px;
	width: 602px;
	padding: 0px 0px 30px;
	background: url(../images/acc_form_section.jpg) no-repeat bottom left;
}

#content #form_body  h3 {
	background: url(../images/acc_form_h3.jpg) no-repeat top left;
	height: 18px;
	width: 605px;
	padding: 13px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
}

#content #form_body  h4 {
	color: #666666;
	font-size: 1.6em;
	font-style:italic;
	margin: 20px 0px 10px 20px;
	border-bottom: 1px solid #666666;
	display: block;
	float: left;
	width: 570px;
	padding: 0px 0px 5px ;

}

#content #form_body  input.date_time{
	margin-right: 5px;
	width: 110px;
}

#content #form_body  input.time {
	margin-right: 5px;
	width: 30px;
}

#content #form_body label.mins {
	float: none;
	display: inline;
	width: 28px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#content #form_body label.hrs {
	float: none;
	display: inline;
	width: 42px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#content #form_body span.radio_label {
	float: left;
	color: #000000;
	margin: 3px 4px 0px 0px;
}

#content #form_body  input.inputRadio {
	float: left;
	margin: 5px 12px 0 0;
}

#content #form_body  div.extra_text p {
	display: block;
	float: left;
	width: 118px;
	padding: 0px 5px 3px 0px;
	margin: 0 0 5px 0;
	text-align: right;
	border: 0px;
	background: transparent;
}

/*styles for form fieldes that take up half width column*/

#content #form_body div.col {
	float : left;
	width: 298px;
	display: inline;
	margin: 0px;
	padding: 0px 0px 20px ;
	
}


#content #form_body div.acc2 {
	width: 258px;
}

#content #form_body div.acc1 {
	width: 343px;
}

#content #form_body div.acc1 div.frm_row {
	width: 308px;
}

#content #form_body div.col input.inputText, #content #form_body div.col select, #content #form_body div.col textarea {
	width: 200px;
}

#content #form_body div.col div.extra_text label,   #content #form_body div.col div.extra_text span.label, #content #form_body div.col label, #content #form_body div.col span.label {
	width: 72px;
	padding: 3px 5px 3px 0px;
}

#content #form_body div.col span.value {
	float: left; 
	width: 200px;
}

#content #form_body div.col div.extra_text {
	width: 77px;
}

#content #form_body div.col div.extra_text p  {
	width: 72px;
}

#content #form_body div.col div.frmbutton { 
	width: 320px;
	text-align: right;
	padding: 0px;
}


#content #form_body span.goToUrl {
	display: block;
	background-image: url(../../../../images/world_go.png);
	background-repeat: no-repeat;
	margin: 0px 0px 20px 130px;
	padding-left: 20px;
	cursor: pointer;
	clear: both;
}


#content #form_body span.value span{
	margin: 0px;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #999999;
	min-height: 20px;
	width: 100%;
	display: block;
	float: left;
}

#content #form_body div.optional label, label.optional {
	font-weight: normal;
}

#content #form_body div.required label, label.required {
	font-weight: bold;
}

div.required span {
	display: block;
	font-weight: bold;
	color: red;
	font-size: 8pt;
}




/* box form*/

.box  form {
	margin: 0;
	padding: 0;
	width: 270px;
}

.box form fieldset {
	float: left;
	width: 250px;
	clear: both;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.box form div label {
	display: block;
	float: left;
	width: 60px;
	padding: 3px 5px 3px 0px;
	margin: 0 0 5px 20px;
	text-align: left;
}

.box div select {
	float: left;
	text-align: left;
	width: 150px;
}
	
.box form  div.frmbutton {
	width: 240px;
	margin: 0px 0px 10px 20px;
	float: left;
	text-align: left;
}

.box form  div.frmbutton span{
    margin: 0 5px 0 0;
   }
   
   
#form_body div.frmSection p.frm_info {
	margin: 10px 0px 20px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
	/*float: left;*/
}




#content #adminDoc li, #content li.attachment {
    background-image: url("../../../../images/attach.png");
    background-repeat: no-repeat;
    list-style-image: none;
    margin: 0;
    padding-left: 20px;
}


#content #adminLinks li, #content li.link {
    background-image: url("../../../../images/link.png");
    background-repeat: no-repeat;
    list-style-image: none;
    margin: 0;
    padding-left: 20px;
}


div.required span.clear_date, div span.clear_date,  span.clear_date {
	font-weight: bold;
	color: red;
	font-size: 8pt;
	display: inline;
	cursor: pointer;
}

#content #form_body div.sync {
    border: 2px solid red;
    padding: 6px 0px;
    margin: 16px 0px;
}








#multitabs .ui-tabs-nav {
    margin: 0;
    padding: 0px;
}


#multitabs.ui-widget-content {
	background: transparent;
    border: 0px solid #DDDDDD;
    
}

#multitabs .ui-state-active, #multitabs .ui-widget-content .ui-state-active, #multitabs .ui-widget-header .ui-state-active {
    background: #FFFFFF;
    border: 0px;
}

#multitabs .ui-widget-header {
    background: #bbbbbb;
    border: 0px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0px;
    padding-left: 5px;
}


#content form.multiSelect #form_body {
    padding: 0px 16px 0px 10px;
    width: 619px;
}

#content form.multiSelect #form_header {
    margin-top: 0px;
    padding-top: 14px;
}

#content #form_header h2 {
    padding-bottom: 4px;
}

form.multiSelect #multitabs {
    padding: 0px;
    margin-top: 0px;
}

#multitabs {
    padding: 0px;
    margin-top: 10px;
}

#multitabs .ui-tabs-nav li.ui-tabs-selected {
    background: #EAEBE6;
    color: #EB8F00;
}

#multitabs .ui-tabs-nav li.ui-tabs-selected a:hover {
    color: #222222;
}
    
#multitabs .ui-tabs-nav li {
    top: 1px;
}

#multitabs .ui-state-default, #multitabs .ui-widget-content .ui-state-default, #multitabs .ui-widget-header .ui-state-default {
    background:  #222222;
    border: 0px;
    color: #ffffff;
}

#multitabs .ui-state-default a, #multitabs .ui-state-default a:link, #multitabs .ui-state-default a:visited {
    color: #ffffff;
    text-decoration: none;
}

#multitabs .ui-state-active a, #multitabs .ui-state-active a:link, #multitabs .ui-state-active a:visited, #multitabs .ui-state-active a:hover {
    color: #222222;
    text-decoration: none;
}

#multitabs .ui-state-hover a, #multitabs .ui-state-hover a:hover, #multitabs .ui-widget-header .ui-state-hover a,  #multitabs .ui-widget-header .ui-state-hover a:hover {
    color: #222222;
    text-decoration: none;
}

#multitabs .ui-state-hover, #multitabs .ui-widget-header .ui-state-hover {
    border: 0px solid #ffffff;
    border-radius: 4px 4px 0px 0px;
    background: #ffffff;
}

form.multiSelect .select_all {
    float: left;
    width: 350px;
    text-align: right;
}

#content #form_body div.select_all label {
    float: none;
    display: inline;
}

 a.frm_link {
    background: url("../images/arrow.gif") no-repeat scroll 0 7px transparent;
    color: #00457C;
    display: block;
    font-size: 10pt;
    font-weight: normal;
    margin: 0 0 0 10px;
    padding: 0 0 10px 12px;
    text-decoration: none;
}

.frm_row a.frm_link {
    margin-left: 200px;
}

#content form.multiSelect #form_body div.frm_row {
	margin: 5px 0px;
	position: relative;
	width: 400px;
}
/* greyed out text */
.disabled, .disabled select{
color:graytext;
}

h2 .inputSubmit {
    
    font-size: 14px;
}
