input, select, textarea {
	font-family: "Trebuchet MS",Verdana, Sans-serif;
	font-size: 100%;
	color: #000000;
}

#content #form_body {
	background: url(../images/acc_form.jpg) repeat-y;
	padding: 20px;
	width: 605px;
	margin-top: 0px;
}


#content #form_body form {
	width: 605px;
}


#content #form_header {
	background: url(../images/acc_form_top.jpg) no-repeat left top;
	width: 620px;
	margin: 20px 0px 0px;
	padding: 20px 15px 0px 10px;
}

#content #form_header p {
	border-bottom: 1px solid #666666;
	padding: 0px 10px 10px;
	margin: 0px;
}

#content #form_header h2 {
	padding: 0px 10px 10px;
	margin: 0px;
}

#content #form_footer {
	background: url(../images/acc_form_footer.jpg) no-repeat left bottom;
	padding: 20px;
	width: 605px;
	margin: 0px;
}

#content #form_body div.extra_text {
	width: 136px;
	padding: 0px;
	margin: 0px;
	float: left;
}

#content #form_body div.extra_text label,   #content #form_body div.extra_text span.label, #content #form_body label, #content #form_body span.label {
	display: block;
	float: left;
	width: 110px;
	padding: 3px 13px 3px 0px;
	margin: 0px 2px 5px 10px;
	text-align: right;
}

#content #form_body div.noLabel a {
	font-weight: bold;
	background-image: url(../../../../images/arrow2purple.gif);
	background-repeat: no-repeat;
	background-position: 0 .3em;
	padding-left: 1.2em;
}

#content #form_body div.noLabel a:hover {
	background-image: url(../../../../images/arrow2grey.gif);
}

#content #form_body div.frm_row {
	margin: 5px 0px;
	position: relative;
	width: 600px;
}

#content #form_body div.col div.frm_row {
	width: 298px;
}

#content #form_body div.full {
	float: left;
}

#content #form_body div.noLabel {
	margin: 0px 0px 20px 140px;
}

#content #form_body span.value {
	float: left; 
	width: 300px;
	padding: 1px 3px;
	margin-top: 3px;
}

#content #form_body input.inputText {
	float: left; 
	width: 300px;
}

#content #form_body select {
	float: left; 
	width: 300px;
	margin-right: 10px;
}

#content #form_body div.select_wrap {
	position: relative;
	width: 300px;
	float: left;
}

#content #form_body  select.expand {
	position: absolute;
    width: auto;
}

#content #form_body textarea {
	float: left; 
	width: 410px;
}

#content #form_body input.date {
	float: left; 
	width: 200px;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 3px;
}

#content #form_body div.frmbutton, #content form.simple  div.frmbutton { 
	width: 400px;
	text-align: right;
	margin: 5px 0px 0px;
	padding: 0px;
	float: left;
}

div.frmbutton span {
	margin: 0px 15px 0px 0px;
}

#content #form_body input.inputSubmit, #content #form_body input.inputButton, #content form.simple input.inputSubmit, #content form.simple input.inputButton {
	width: auto;
	padding: 0 16px;
	margin: 0;
}

form.simple {
	padding: 0px 0px 20px 0px;
}


img.date_img {
	border: 0px;
	margin: 0px 0px 0px 10px;
	cursor: pointer;
	vertical-align: middle;
}


input.date:hover {
	cursor: pointer;
}

/* fields in task form*/
#content #form_body span.value span.docsList {
	float:left;
	width: 400px;
	min-height: 60px;
	overflow: auto;
	display: block;
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
}

#content #form_body span.value span.feedback, #content #form_body span.value span.notes, #content #form_body span.value span.tasktext {
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
	float:left;
	width: 400px;
	min-height: 120px;
	/*overflow: auto;*/
}

#content #form_body span.value span.budget, #content #form_body span.value span.upload, #content #form_body span.value span.datefield, #content #form_body span.value span.username {
	background-color: #ffffcc;
	color: #666666;
	font-size: 88%;
	float:left;
	width: 192px;
}

.addUser {
	margin: 20px 10px 30px 135px;
	font-size: 1.1em;
}


/*fields in acc and training forms*/

#content #form_body div.frmSection p.frm_info. {
	margin: 10px 0px 20px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
}

#content #form_body div.frmSection { 
	margin: 0px 0px 30px 0px;
	width: 602px;
	padding: 0px 0px 30px;
	background: url(../images/acc_form_section.jpg) no-repeat bottom left;
}

#content #form_body  h3 {
	background: url(../images/acc_form_h3.jpg) no-repeat top left;
	height: 18px;
	width: 605px;
	padding: 13px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
}

#content #form_body  h4 {
	color: #666666;
	font-size: 1.6em;
	font-style:italic;
	margin: 20px 0px 10px 20px;
	border-bottom: 1px solid #666666;
	display: block;
	float: left;
	width: 570px;
	padding: 0px 0px 5px ;

}

#content #form_body  input.date_time{
	margin-right: 5px;
	width: 110px;
}

#content #form_body  input.time {
	margin-right: 5px;
	width: 30px;
}

#content #form_body label.mins {
	float: none;
	display: inline;
	width: 28px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#content #form_body label.hrs {
	float: none;
	display: inline;
	width: 42px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#content #form_body span.radio_label {
	float: left;
	color: #000000;
	margin: 3px 4px 0px 0px;
}

#content #form_body  input.inputRadio {
	float: left;
	margin: 5px 12px 0 0;
}

#content #form_body  div.extra_text p {
	display: block;
	float: left;
	width: 118px;
	padding: 0px 5px 3px 0px;
	margin: 0 0 5px 0;
	text-align: right;
	border: 0px;
	background: transparent;
}

/*styles for form fieldes that take up half width column*/

#content #form_body div.col {
	float : left;
	width: 298px;
	display: inline;
	margin: 0px;
	padding: 0px 0px 20px ;
	
}


#content #form_body div.acc2 {
	width: 258px;
}

#content #form_body div.acc1 {
	width: 343px;
}

#content #form_body div.acc1 div.frm_row {
	width: 308px;
}

#content #form_body div.col input.inputText, #content #form_body div.col select, #content #form_body div.col textarea {
	width: 200px;
}

#content #form_body div.col div.extra_text label,   #content #form_body div.col div.extra_text span.label, #content #form_body div.col label, #content #form_body div.col span.label {
	width: 72px;
	padding: 3px 5px 3px 0px;
}

#content #form_body div.col span.value {
	float: left; 
	width: 200px;
}

#content #form_body div.col div.extra_text {
	width: 77px;
}

#content #form_body div.col div.extra_text p  {
	width: 72px;
}

#content #form_body div.col div.frmbutton { 
	width: 320px;
	text-align: right;
	padding: 0px;
}


#content #form_body span.goToUrl {
	display: block;
	background-image: url(../../../../images/world_go.png);
	background-repeat: no-repeat;
	margin: 0px 0px 20px 130px;
	padding-left: 20px;
	cursor: pointer;
	clear: both;
}


#content #form_body span.value span{
	margin: 0px;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #999999;
	min-height: 20px;
	width: 100%;
	display: block;
	float: left;
}

#content #form_body div.optional label, label.optional {
	font-weight: normal;
}

#content #form_body div.required label, label.required {
	font-weight: bold;
}

div.required span {
	display: block;
	font-weight: bold;
	color: red;
	font-size: 8pt;
}




/* box form*/

.box  form {
	margin: 0;
	padding: 0;
	width: 270px;
}

.box form fieldset {
	float: left;
	width: 250px;
	clear: both;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.box form div label {
	display: block;
	float: left;
	width: 60px;
	padding: 3px 5px 3px 0px;
	margin: 0 0 5px 20px;
	text-align: left;
}

.box div select {
	float: left;
	text-align: left;
	width: 150px;
}
	
.box form  div.frmbutton {
	width: 240px;
	margin: 0px 0px 10px 20px;
	float: left;
	text-align: left;
}

.box form  div.frmbutton span{
    margin: 0 5px 0 0;
   }
   
   
#form_body div.frmSection p.frm_info {
	margin: 10px 0px 20px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
	/*float: left;*/
}




#content #adminDoc li, #content li.attachment {
    background-image: url("../../../../images/attach.png");
    background-repeat: no-repeat;
    list-style-image: none;
    margin: 0;
    padding-left: 20px;
}


#content #adminLinks li, #content li.link {
    background-image: url("../../../../images/link.png");
    background-repeat: no-repeat;
    list-style-image: none;
    margin: 0;
    padding-left: 20px;
}