#reportTable  td,#reportTable  th {
	padding: 5px;
}

#reportTable {
	background: #ffffff;
	border: 1px solid #666666;
}

#reportTable thead th{
	background: #cdcdcd;
	border-bottom: 1px solid #666666;
	cursor: pointer;
}

#reportTable tbody tr td{
	border-bottom: 1px solid #dedede;
}

h3.reportList1 {
	background: url(../images/cogs.png) no-repeat 0px 5px;
	padding: 10px 10px 10px 35px;
	color: #000000;
	font-size: 1.5em;
	text-decoration: none;
	display: block;
	margin: 0px 0px 20px;
}

#content ul.reportList li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
}


ul.reportList  li a {
	background: url(../images/report_list_arrow.png) no-repeat 0px 2px;
	padding: 0px 10px 0px 20px;
	color: #000000;
	font-size: 1.0em;
	text-decoration: none;
	display: block;
	margin: 0px 0px 0px;
}

ul.reportList  li a:hover {
	background-position:  0px -44px;
	color: #7C9518;
	text-decoration: underline;
}

ul.reportList  {
	margin: 0px 0px 20px;
}

#reportTable .hover {
	background: #B0D80F;
}

