body {
	font-family: "Trebuchet MS",Verdana, Sans-serif;
	background: #7F7F7F;
}



a {
	text-decoration: underline;
	color: #00457C;
}

a:hover {
	background-image: none;
	text-decoration: none;
	color: #333333;
}

li {
	list-style: none;
}


img {
	border: 0px;
	
}

h4 {
	font-size: 20pt;
	margin: 0px 20px 0px 20px;
	color: #ffffff;
}

h1  {
	font-weight: normal;
	color: #00457C;
	font-size: 16pt;
}



#wrapper {
	background:url(../images/page_bg_wide.jpg) center #7F7F7F repeat-y;
}

/* header styles*/

#branding {
	background:url(../images/header.jpg) top #7F7F7F no-repeat;
	height: 160px;
}

#branding {
	width: 1010px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	margin:5px auto 0px;
	clear: both;
}

#inner_branding {
	margin: 10px 0px 0px;
	background:url(../images/handsam_logo.jpg) 10px 10px #ffffff no-repeat;
	height: 150px;
	width: 439px;
	float: left;
	height: 
}

#inner_branding img {
	display: block;
}

#notloggedin {
	color: #ffffff;
	height: 126px;
	width: 401px;
	margin: 9px 10px 0px 0px;
	float:right;
	text-align: right;
	padding: 25px 10px 0px 0px;
	position: relative;
}

#loggedin {
	background:url(../images/loggedin.jpg) 0px 0px no-repeat #ffffff;
	color: #ffffff;
	height: 126px;
}


#loggedin p{
	color: #00457C;
}


#loggedin span{
	font-weight: bold;
	color: #333333;
}

#logout1 {
	background: url(../images/logout.jpg) no-repeat;
	padding: 10px 0px 12px 35px;
	text-decoration: none;
	color: #A41E1E;
	font-weight: bold;
}

#logout1:hover {
	background-position: 0px -59px;
	color: #000000;
}

#loggedin h2{
	color: #00457C;
}

#account_logo {
	width: 150px;
	height: 151px;
	background: #ffffff;
}

#no_logo {
	height: 151px;
	background: #ffffff;
}




#handsamlogo {
	float: left;
	width: 400px;
	height: 68px;
	margin: 20px 0px;
}

#healthandsafety img {
	width: 504px;
	height: 57px
}

/*content*/

#content_wrapper {
	background: #D7D7D7;
	border-bottom: 1px solid #ffffff;
}

#content {
	border: 0px solid #333333;
	background: transparent;
}

#content h2, #contentWide h2 {
	font-weight: normal;
	color: #333333;
	font-size: 13pt;
	margin-bottom: 20px;

}
#contentWide {
	border: 0px solid #333333;
	background: transparent;
}

#content li, #contentWide li {
	margin: 0px 0px 10px 25px;
	list-style-image: url(../images/HSlist.png);
}

#content div.message_info ul li {
	list-style-image: none;
	margin: 0px 0px 0px 0px;
}

#content .browsers li {
	list-style: none;
}

#content h1, #contentWide h1 {
	margin: 0px 0px 10px 0px;
	border-bottom: 2px solid #00457C;
}

img.inBox{
	vertical-align: bottom;
}

/*boxes*/

#boxes {
	border: 0px solid green;
}

.box {
	border: 2px solid #333333;
	background: #FFFFCC;
	margin: 0px 0px 36px 0px;
	border-radius: 6px; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
}


.box h2 {
	color: #00457C;
	width: 268px;
	margin: 0px 0px 4px 12px;
	border-bottom: 2px solid #00457C;
	padding-right: 4px;
}

.box h3 {
	color: #00457C;
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0px 0px 6px;
}

.box p {
	padding: 0px 10px;
}

.box ul {
	margin: 0;
	padding: 0;
}


.box ul li {
	list-style: none;
	margin: 0px 7px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	
}

.box ul.list li {
	margin: 0px 0px 10px 25px;
	list-style-image: url(../images/HSlist.png);
	margin: 0px 5px 0px 32px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	
}

.box a {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.9em;
	border: 0px;
}

.box p a {
	text-decoration: underline;
	color: #00457C;
}

.box p a:hover {
	text-decoration: none;
	color: #333333;
}

.box a:hover {
	text-decoration: underline;	
	color:#333333;
}

/* navigation for task options box */

.vertical_nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.vertical_nav li {
	margin-bottom: 0.4em;
}

.vertical_nav li.indent {
	padding-left: 1.2em;
}

.vertical_nav li.active {
	padding-left: 1.2em;
	font-size: 1.1em;
	font-weight: bold;
	
}

.vertical_nav a {
	font-size: 1.1em;
	font-weight: bold;
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 1.2em;
	color:#333333;
	text-decoration: none;
}
	
.vertical_nav a:hover {
	text-decoration: underline;	
	color: #660033;
	background: transparent;
}

.vertical_nav a.no_arrow {
	background: transparent;
	padding-left: 0.4em;
	padding-right: 0.2em;
}

.vertical_nav a.no_arrow:hover {
	text-decoration: none;
}


/*
navigation for task months box
*/
#months_nav {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	clear:both;
	float:left;
}

#months_nav ul {
	width: 220px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}

#months_nav li {
	margin: 0px 0px 0px 8px;
	float: left;
	width: 100%;
}

#months_nav a.active {
	padding-left: 1.2em;
	font-size: 1.1em;
	font-weight: 900;
	background: transparent;
	color: #000000;
	
}

#months_nav li.active {
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 16px;
	width: 84px;
}

#months_nav a {
	font-size: 1.1em;
	font-weight: bold;
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 1.2em;
	color:#333333;
	text-decoration: none;	
}
	
#months_nav a:hover {
	text-decoration: underline;	
	color: #660033;
	background: transparent;
}

/* creates break in a list to give grouping of navigation links */
li.topMargin {
	margin-top: 1.2em;
}
/*
navigation for page links 
*/
a.page {
	font-size: 1.1em;
	font-weight: bold;
	background-image: url(../images/arrow2grey.gif);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 1.2em;
	color:#333333;
	text-decoration: underline;	
}

a.page:hover {
	text-decoration: none;	
	color:#660033;
	background-image: url(../images/arrow2white.gif);
}

/* task alert box icon positon */
p.taskAlertInfo img {
	vertical-align: bottom;
	margin-right: 5px;
}

p.taskAlertInfo {
	font-weight: bold;
	font-size: 1.1em;
	
}

form.centre {
	width: 100%;
}
.browsers img {
	margin-bottom: 10px;
	vertical-align: middle;
}

/* footer */

#footer {
	background:url(../images/footer.jpg) bottom  repeat-x;
	color: #ffffff;
}

#footer a {
	font-weight: bold;
	text-decoration: underline;
	font-size: 0.9em;
	color: #ffffff;
}

#footer a:hover {
	text-decoration: none;	
	color:#333333;
}

/*login form*/
#loginform {
	background: url(../images/login.png) no-repeat;
}

#frForm_forgot {
	background: url(../images/login.png) no-repeat;
}

#loginform  input.inputText, #frForm_forgot div input.inputText {
	background: #efefef;
	border: 1px solid #666666;
}


#loginform input.inputCheckbox {
	background-color: transparent;
	border-width: 0;
}

#loginform input.inputSubmit, #frForm_forgot div input.inputSubmit {
	color: #000000;
}


/* messages */

li.warning {
	color: red;
	font-weight: bold;	
	list-style-type:none;
	
}

div.message_info {
	width: 400px;
	overflow: auto;
}

.debug {
	color: grey;
	font-style: italic;
}



/* menu*/
#navigation {
	background:url(../images/menu_bg.gif) 50% 0 #D7D7D7 repeat-x;
	padding:0;
	height:100px;
	border-top:1px solid #FFFFFF;
	overflow:hidden;
}

#navigation li {
	background:none;
	padding:0;
	display:table-row;
	vertical-align:middle;
	height:80px;
	
}

#navigation li a {
	font-weight:bold;
	font-size:0.8em;
	text-transform:uppercase;
	line-height:normal !important;
	line-height:80px;
	display:table-cell;
	vertical-align:middle;
	height:80px;
	padding:0 10px 0 10px;
	background:url(../images/menu_triple.jpg) 0px 0px transparent repeat-x;
	color:#74D4F0;
}

#navigation li a:hover,
#navigation li a:active {
	background-position: 0px -80px;
	color:#ffffff;
}

#navigation li.sub_menu:hover a {
	background-position: 0px -240px;
}


#navigation li.current_page_item a {
	background-position: 0px -160px !important;
	color:#1F3700;
}

#navigation li a {
	color:white;
	text-decoration:none;
}

/*new sub menu */
#navigation ul {
	position: relative;
}

#navigation li ul {
	text-align: center;
	position: absolute;
	display: none;
	top: 60px;
	left: 0px;
	width: 1000px;
	z-index: 10;
	background: #2C2C2C;
	height: 30px;
	/*
	opacity:0.6;
	filter:alpha(opacity=60);
	*/
	padding: 0px;
	margin: 0px;
	border-bottom: 15px solid #d7d7d7;
}


#navigation li.current_page_item ul {
	display: block;
	background: #B0D80F;
}

#navigation li.current_page_item ul a {
	color:#1F3700 ;
}

#navigation li ul li a {
	display: block;
	background: transparent;
	height: 20px;
	padding: 5px 20px;
	margin: 0px;
}

#navigation li:hover ul {
	display: block;
	z-index: 20;
}

#navigation li.current_page_item li a:hover {
	background: #2C2C2C;
	color: #ffffff;
}

#navigation li li.current_page_item a {
	background: #111111;
	color: #ffffff;
}

#navigation li li a:hover {
	background: #111111;
	color: #ffffff;
}

#navigation li ul li {
	padding: 0px;
	margin: 0px;
	float: left;
	height: 30px;	
}	




/*licence archive menu*/
/*
#licence_menu {
	width: 960px;
	margin: 0px 20px 0px 20px;
	height: 40px;
	background: url(../images/nav.jpg) repeat-x 0px 0px;
}

#licence_menu ul {
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#licence_menu li {
	background:none;
	padding:0;
	display:table-row;
	vertical-align:middle;
	float:left;
	height:40px;
}

#licence_menu li a {
	font-weight:normal;
	line-height:normal !important;
	line-height:40px;
	display:table-cell;
	vertical-align:middle;
	height:40px;
	padding:0 10px 0 10px;

	
	
	font-size: 1.2em;
	color: #423323;
	text-decoration: none;		
}



#licence_menu li.current_licence a {
	font-size: 2.0em;
}

#licence_menu li.current_licence a:hover {
	font-size: 2.0em;
	text-decoration: none;
}


#licence_menu li a:hover {
	text-decoration: underline;
}
*/


/*misc*/

.margin-bottom {
	margin-bottom: 20px;
}

.formM {
	margin: 0px 0px 0px 110px;
}




/*account boxes*/
.box a.account_edit {
	background: url(../images/arrow2grey.gif) no-repeat 0px 6px;
	padding-left: 1.8em;
	font-weight: bold;
	font-size: 1.1em;
	color: #333333;
	text-decoration: none;
}

.box a.account_edit:hover {
	color: #00457C;
	text-decoration: underline;
	
}




/*from tables.css*/

.boxList th {
	height: 32px;
	background:url(../images/boxListgrad.jpg) #003D6E repeat-x;
	font-size: 1.2em;
	color: #ffffff;
	border-bottom: 2px solid #333333;
}

/*from tables_1.0*/

table.acc_list thead th.start {
	background: url(../images/acc_table_top.jpg?id=1) left top;
	padding-left: 10px;
}

table.acc_list thead th.end {
	background: url(../images/acc_table_top.jpg?id=1) right top;
}

table.acc_list thead th {
	background: url(../images/acc_table_top.jpg?id=1) center top;
}

table.acc_list tbody tr:hover  td.start, table.acc_list tbody tr.highlight:hover  td.start, table.acc_list tbody tr.highlight_2:hover  td.start{
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat 3px -445px;
}

table.acc_list tbody tr:hover  td, table.acc_list tbody tr.highlight:hover  td, table.acc_list tbody tr.highlight_2:hover  td {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat -100px -445px;
}

table.acc_list tbody tr:hover  td.end, table.acc_list tbody tr.highlight:hover  td.end, table.acc_list tbody tr.highlight_2:hover  td.end {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat  right -445px;
}


/*table row normal*/
table.acc_list tbody tr td.start {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat 3px 0px;
}

table.acc_list tbody tr td {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat top center;
}

table.acc_list tbody tr td.end {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat top right;
	padding-right: 4px;
}

/*table row highlight*/
table.acc_list tbody tr.highlight td.start {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat 3px -962px;
}

table.acc_list tbody tr.highlight td {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat -10px -962px;
}

table.acc_list tbody tr.highlight td.end {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat right -962px;
}


/*table row highlight*/
table.acc_list tbody tr.highlight_2 td.start {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat 3px -1444px;
}

table.acc_list tbody tr.highlight_2 td {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat -300px -1444px;
}

table.acc_list tbody tr.highlight_2 td.end {
	background: url(../images/acc_table_full_1.1.jpg) #d7d7d7 no-repeat right -1444px;
}

/*table footer*/
table.acc_list tfoot td.start {
	background: url(../images/acc_table_footer.jpg) left bottom;
}

table.acc_list tfoot td.end {
	background: url(../images/acc_table_footer.jpg) right bottom;
}

table.acc_list tfoot td {
	background: url(../images/acc_table_footer.jpg) center bottom;
}

table.acc_list caption {
	text-align: left;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
	color: #00457C;
	height: 40px;
	line-height: 40px;
	font-size: 13pt;
}

table.acc_list tbody tr.headingRow td,
table.acc_list tbody tr.headingRow th {
	font-size: 11pt;
	font-weight: bold;
	height: 30px;
	color: #814160;
}


a.crumb {
	color: #666666;
	text-decoration: none;
}

a.crumb:hover {
	color: #814160;
	text-decoration: none;

}

.visit_info div span {
	background: #ffffff;
	padding: 4px;
	color: #00457C;
	font-size: 12pt;
	border-radius: 6px; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	float: left;
	width: 482px;
	line-height: 15pt;
	min-height: 20px;
}

.visit_info div.narrow span {
	background: #ffffff;
	padding: 4px;
	color: #00457C;
	font-size: 12pt;
	border-radius: 6px; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	float: left;
	width: 180px;
}

.visit_info div {
	padding: 0px 0px 10px 0px;
}

.visit_menu {
	padding: 10px 20px 30px 20px;
	margin: 0px;
	background: url(../images/trip_details.jpg) bottom left no-repeat;
}

.visit_info div strong {
	color: #00457C;
	font-size: 11pt;
	width: 110px;
	float: left;
	text-align: right;
	margin-right: 4px;
	padding: 4px 0px;
}

.visit_info div.narrow strong {
	color: #00457C;
	font-size: 10pt;
	width: 110px;
	float: left;
	text-align: right;
	margin-right: 4px;
	padding: 4px 0px;
}


.visit_info {
	padding: 10px 20px 0px 20px;
	background: url(../images/trip_details.jpg) top left no-repeat;
}
