body {
	font-family: "Trebuchet MS",Verdana, Sans-serif;
	font-size: 9pt;
	background: #7F7F7F;
}

#wrapper {
	/*background:url(../images/page_bg.jpg) center #7F7F7F repeat-y;*/
}

#branding {
	background: #ffffff;
	height: 160px;
}

#inner_branding {
	margin: 10px 0px 0px;
	background:url(../images/handsam_logo.jpg) 0px 10px #ffffff no-repeat;
	height: 140px;
	margin: 10px 0px 0px 10px;
}

#loggedin {
	color: #ffffff;
}

#content_wrapper {
	background: #D7D7D7;
	border-bottom: 1px solid #ffffff;
}

#footer {
	background:#00467F;
	color: #ffffff;
}

	
#handsamlogo {
	width: 275px;
	height: 99px
}

#healthandsafety img {
	width: 504px;
	height: 57px
}