.select_users_table {
	width: 100%;
	
}


.select_users_table td, .select_users_table th {
	padding: 4px 4px;
	text-align: left;
}
	


#select_users_dialog #form_body div.frm_row {
	margin: 5px 0px;
	position: relative;
	width: 600px;
}

#select_users_dialog #form_body div.col div.frm_row {
	width: 298px;
}

#select_users_dialog #form_body div.full {
	float: left;
}

#select_users_dialog #form_body div.noLabel {
	margin: 0px 0px 20px 140px;
}

#select_users_dialog #form_body span.value {
	float: left; 
	width: 300px;
	padding: 1px 3px;
	margin-top: 3px;
}

#select_users_dialog #form_body input.inputText {
	float: left; 
	width: 300px;
}

#select_users_dialog #form_body select {
	float: left; 
	width: 300px;
	margin-right: 10px;
}

#select_users_dialog #form_body textarea {
	float: left; 
	width: 410px;
}

#select_users_dialog #form_body input.date {
	float: left; 
	width: 200px;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 3px;
}

#select_users_dialog #form_body div.frmbutton, #select_users_dialog form.simple  div.frmbutton { 
	width: 400px;
	text-align: right;
	margin: 10px 0px 0px;
	padding: 0px;
	float: left;
}

#select_users_dialog #form_body input.inputSubmit, #select_users_dialog #form_body input.inputButton {
	width: auto;
	padding: 0 16px;
	margin: 0;
}

#select_users_dialog #form_body div.extra_text label,   #select_users_dialog #form_body div.extra_text span.label, #select_users_dialog #form_body label, #select_users_dialog #form_body span.label {
	display: block;
	float: left;
	width: 110px;
	padding: 3px 13px 3px 0px;
	margin: 0px 2px 5px 10px;
	text-align: right;
}


#select_users_dialog #form_body div.col {
	float : left;
	width: 298px;
	display: inline;
	margin: 0px;
	padding: 0px 0px 20px ;
	
}

#select_users_dialog #form_body div.acc2 {
	width: 258px;
}

#popup #form_body div.acc1 {
	width: 343px;
}

#popup #form_body div.acc1 div.frm_row {
	width: 308px;
}

#select_users_dialog #form_body div.col input.inputText, #select_users_dialog #form_body div.col select, #select_users_dialog #form_body div.col textarea {
	width: 200px;
}

#select_users_dialog #form_body div.col div.extra_text span.label, #select_users_dialog #form_body div.col label, #select_users_dialog #form_body div.col span.label {
	width: 72px;
	padding: 3px 5px 3px 0px;
}

#select_users_dialog #form_body div.col span.value {
	float: left; 
	width: 200px;
}

#select_users_dialog #form_body div.col div.extra_text {
	width: 77px;
}

#select_users_dialog #form_body div.col div.extra_text p  {
	width: 72px;
}

#select_users_dialog #form_body div.col div.frmbutton { 
	width: 320px;
	text-align: right;
	padding: 0px;
}

.edit_usr span.add_usr {
	display: block;
	height: 32px;
	padding: 10px 0px 0px 45px;
	background: url(../images/add_person.png) no-repeat 0px 0px;
	cursor:pointer;
}

.edit_usr span {
	display: block;
	height: 14px;
	padding: 4px 0px 4px 24px;
	background: url(../images/edit_person.png) no-repeat 0px 0px;
	cursor:pointer;
}

.edit_usr span.add_usr:hover, .select_users_table td:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
}

.select_users_table td {
	cursor:pointer;
}