/* divs to hide input boxes in multi select form until checkbos checked */
.inputCover {
    background-color: #000000;
    height: 44px;
    left: 130px;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
    position: absolute;
    top: -4px;
    z-index: 30;
    width: 315px;
}

#categoryCover {
	position: absolute;
	top: 53px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}

#monthCover {
	position: absolute;
	top: 105px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}	


#dayCover {
	position: absolute;
	top: 156px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}


#stateSACover {
	position: absolute;
	top: 207px;
	left: 104px;
	width: 214px;
	height: 26px;
	background-color: #000000;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
	/* for Mozilla */
	-moz-opacity:0.2;
}

div.tick {
	width: 20px;
	height: 20px;
	float: left;
}

ul.key {
	margin: 20px 0px 0px 10px;
}

ul.key li {
	margin: 0px 0px 15px 0px;
	list-style-type: none;
}

.multiSelectCheck {
	float: right;
	margin: 8px 10px 0px 0px;
}


.multiSelectCheckBox label {
	width: 120px;
}

.multiSelectCheckBox input {
	width: 20px;
	margin-top: 5px;
}

.multiSelectCheckBox {
	margin: -10px 0px 20px;
	padding: 10px 0px 10px 0px;
}

#infoTopNotes {
	padding: 0px 0px 10px 0px;
	border-bottom: 1px dashed #666666;
}

#multitabs li{
list-style-image:none;
margin:0.2em 1px 0; /* default jQueryUI values */
}

/* slim divs
    lots of !important here as the file is before a few others
*/
div.slim{
display: inline;
position: static !important;
}
div.slim label{
display:none !important;
}
div.slim select, div.slim input{
float:none !important;
margin-left: 10px;
}


#content #form_body div.edit_type {
    margin: 5px 0;
    position: relative;
    width: 309px;
    float: left;
}

#content #form_body div.edit_type label{
    font-size: 0.9em;
    margin: 0px 2px 5px 0px;
    padding: 2px 5px 3px 0px;
    width: 55px;
}

#content #form_body div.edit_type label span{
    display: none;
}

div.rpt_crt {
    float: left;
    width: 250px;
}