div#tab_tasklist table.acc_list tbody td.none a, div#tab_compliance table.acc_list tbody td.none a, div#tab_compliance_group table.acc_list tbody td.none a {
	background: url(../images/empty_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #111111;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td a, div#tab_compliance table.acc_list tbody td a, div#tab_compliance_group table.acc_list tbody td a {
	background: url(../images/empty_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #111111;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td.number a {
	background: url(../images/num_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #111111;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td.low a, div#tab_compliance table.acc_list tbody td.low a, div#tab_compliance_group table.acc_list tbody td.low a {
	background: url(../images/red_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #ffffff;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td.med a, div#tab_compliance table.acc_list tbody td.med a, div#tab_compliance_group table.acc_list tbody td.med a {
	background: url(../images/yellow_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #222222;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td.high a, div#tab_compliance table.acc_list tbody td.high a, div#tab_compliance_group table.acc_list tbody td.high a {
	background: url(../images/green_circle.png) no-repeat -1px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #ffffff;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

div#tab_incidents table.acc_list tbody td a {
	background: url(../images/grey_triangle.png) no-repeat 2px 2px;
	display: block;
	height: 34px;
	width: 58px;
	color: #111111;
	padding: 20px 3px 8px 0px;
	text-align: center;
}

div#tab_incidents table.acc_list tbody td.incident_red a {
	background: url(../images/red_triangle.png) no-repeat 2px 2px;
	display: block;
	height: 34px;
	width: 58px;
	color: #ffffff;
	padding: 20px 3px 8px 0px;
	text-align: center;
}

div#tab_tasklist table.acc_list tbody td a.no_bg {
    background: transparent;
	display: block;
	height: 62px;
	width: 100%;
	color: #000000;
	padding: 0px;
	text-align: left;
}

table.acc_list thead th.account_name {
	width: 100px;
}


table.acc_list thead th.width4 {
	width: 80px;
}

table.acc_list thead th.width1 {
	width: 40px;
}

table.acc_list tbody.report td {
	font-size: 10pt;
}

ul.params {
	font-size: 12pt;
	margin: 10px 0px 10px;
}

ul.params span.title {
	font-weight: bold;
}
ul.params span.value {
	padding: 0px 10px 0px 0px;
}

ul.side_nav li {
	margin: 0px;
	padding: 0px;
}

.side_nav a {
	display: block;
	font-weight: normal;
	font-size: 10pt;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 10px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;
    color: #00457C;
}
.side_nav a:hover {
	text-decoration: underline;;
	color: #000000;
}	

table.acc_list thead th.header {
	font-size: 9pt;
}

#dashboard {
    padding-top: 27px;
}
#dashboard .ui-widget-header {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    left: 12px;
    position: absolute;
    top: 0px;
}

#dashboard.ui-widget-content {
    background: none;
    border: 0px;   
}

#dashboard li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #bbbbbb;
}

#dashboard .ui-state-default {
    border: 0px;       
}

#dashboard .ui-tabs-panel {
    padding: 0px;
}

#dashboard li.ui-tabs-selected {
    background: #ffffff;
}

v, #dashboard li.ui-tabs-selected a:link, #dashboard li.ui-tabs-selected a:visited {
    color: #111111;
}

#dashboard ui-state-active a, #dashboard .ui-state-active a:link, #dashboard .ui-state-active a:visited {
    color: #111111;
    text-decoration: none;
}

#dashboard .ui-state-default a, #dashboard .ui-state-default a:link, #dashboard .ui-state-default a:visited {
    color: #111111;
    text-decoration: none;
}

#dashboard .ui-state-hover a, #dashboard .ui-state-hover a:hover {
    color: #ffffff;
}

#dashboard .ui-state-default:hover {
    background: #666666;
}

#dashboard .ui-tabs-selected:hover {
    background: #ffffff;
}

#dashboard.ui-widget {
    font-size: 1.0em;
}


#dashboard table.acc_list {
    font-size: 0.8em;
}

#dashboard table.acc_list th.accountname, #dashboard table.acc_list th.account_type {
    width: 100px;
}

#content h1 {
    position: relative;
}

h1 span.loading {
    float: right;
    font-size: 12px;
    color: #111111;
    padding: 0px 0px 0px 20px;
    background: url(../images/loading.gif) no-repeat 0px 0px;
}


#dashboard table.acc_list th select {
    width: 80px;
}

#dashboard table.acc_list th div.group_txt {
    height: 35px;
}
