table.acc_list tbody td.none a {
	background: url(../images/empty_circle.png) no-repeat -4px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #111111;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

table.acc_list tbody td.number a {
	background: url(../images/num_circle.png) no-repeat -4px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #111111;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

table.acc_list tbody td.low a {
	background: url(../images/red_circle.png) no-repeat -4px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #ffffff;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

table.acc_list tbody td.med a {
	background: url(../images/yellow_circle.png) no-repeat -4px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #222222;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

table.acc_list tbody td.high a {
	background: url(../images/green_circle.png) no-repeat -4px 0px;
	display: block;
	height: 34px;
	width: 56px;
	color: #ffffff;
	padding: 20px 3px 8px 3px;
	text-align: center;
}

table.acc_list tbody td.incident a {
	background: url(../images/grey_triangle.png) no-repeat 0px 2px;
	display: block;
	height: 34px;
	width: 58px;
	color: #111111;
	padding: 20px 3px 8px 1px;
	text-align: center;
}

table.acc_list tbody td.incident_red a {
	background: url(../images/red_triangle.png) no-repeat 0px 2px;
	display: block;
	height: 34px;
	width: 58px;
	color: #ffffff;
	padding: 20px 3px 8px 1px;
	text-align: center;
}


table.acc_list thead th.account_name {
	width: 100px;
}


table.acc_list thead th.width4 {
	width: 80px;
}

table.acc_list thead th.width1 {
	width: 40px;
}

table.acc_list tbody.report td {
	font-size: 10pt;
}

ul.params {
	font-size: 12pt;
	margin: 10px 0px 10px;
}

ul.params span.title {
	font-weight: bold;
}
ul.params span.value {
	padding: 0px 10px 0px 0px;
}

ul.side_nav li {
	margin: 0px;
	padding: 0px;
}

.side_nav a {
	display: block;
	font-weight: normal;
	font-size: 10pt;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 10px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;
    color: #00457C;
}
.side_nav a:hover {
	text-decoration: underline;;
	color: #000000;
}	

table.acc_list thead th.header {
	font-size: 9pt;
}

