blockquote:before, blockquote:after, q:before, q:after {  
	content:"";  
}  

blockquote, q {  
	quotes:"" "";  
} 
 
br.both{  
	clear:both;  
}  

#backgroundPopup{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	
	background:#000000;  
	z-index:11;  
}  


#popup{  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:484px;  
	width:640px;  
	z-index:20;  
	padding:12px;  
	font-size:13px;  
} 
 
/*
#popupContact h1{  
	text-align:left;  
	color:#6FA5FD;  
	font-size:22px;  
	font-weight:700;  
	border-bottom:1px dotted #D3D3D3;  
	padding-bottom:2px;  
	margin-bottom:20px;  
}  
*/
#popupClose{  
	font-size:14px;  
	line-height:14px;  
	right:2px;  
	top:20px;  
	position:absolute;  
	color:#6fa5fd;  
	font-weight:700;  
	display:block;
	text-decoration: none;
	cursor: pointer;  
	background: url(../images/popup_close.png) no-repeat 0px 0px;
	height: 48px;
	width: 48px;
	text-indent: -9999px;
	z-index: 99;
}  

/*popup forms*/
#popup #form_body{
	background: url(../images/pop_form.png) repeat-y;
	padding: 20px;
	width: 605px;
	margin-top: 0px;
}

*html #popupClose{  
	background: url(../images/popup_close.gif) no-repeat 0px 0px;
}  

*html #popup #form_body{
	background: url(../images/pop_form.gif) repeat-y;
}

*html #popup #form_header {
	background: url(../images/pop_form_top.gif) no-repeat left top;
}

*html #popup #form_footer {
	background: url(../images/pop_form_footer.gif) no-repeat left bottom;
}

#popup #form_header {
	background: url(../images/pop_form_top.png) no-repeat left top;
	width: 620px;
	margin: 20px 0px 0px;
	padding: 20px 15px 0px 10px;
}

#popup #form_body form {
	width: 605px;
}

#popup #form_header p {
	border-bottom: 1px solid #666666;
	padding: 0px 10px 10px;
	margin: 0px;
}

#popup #form_header h2 {
	padding: 0px 10px 10px;
	margin: 0px;
}

#popup #form_footer {
	background: url(../images/pop_form_footer.png) no-repeat left bottom;
	padding: 20px;
	width: 605px;
	margin: 0px;
}

#popup #form_body div.extra_text {
	width: 136px;
	padding: 0px;
	margin: 0px;
	float: left;
}

#popup #form_body div.extra_text label,   #popup #form_body div.extra_text span.label, #popup #form_body label, #popup #form_body span.label {
	display: block;
	float: left;
	width: 110px;
	padding: 3px 13px 3px 0px;
	margin: 0px 2px 5px 10px;
	text-align: right;
}

#popup #form_body div.noLabel a {
	font-weight: bold;
	background-image: url(../../../../images/arrow2purple.gif);
	background-repeat: no-repeat;
	background-position: 0 .3em;
	padding-left: 1.2em;
}

#popup #form_body div.noLabel a:hover {
	background-image: url(../../../../images/arrow2grey.gif);
}

#popup #form_body div.frm_row {
	margin: 5px 0px;
	position: relative;
	width: 600px;
}

#popup #form_body div.col div.frm_row {
	width: 298px;
}

#popup #form_body div.full {
	float: left;
}

#popup #form_body div.noLabel {
	margin: 0px 0px 20px 140px;
}

#popup #form_body span.value {
	float: left; 
	width: 300px;
	padding: 1px 3px;
	margin-top: 3px;
}

#popup #form_body input.inputText {
	float: left; 
	width: 300px;
}

#popup #form_body select {
	float: left; 
	width: 300px;
	margin-right: 10px;
}

#popup #form_body textarea {
	float: left; 
	width: 410px;
}

#popup #form_body input.date {
	float: left; 
	width: 200px;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 3px;
}

#popup #form_body div.frmbutton, #popup form.simple  div.frmbutton { 
	width: 400px;
	text-align: right;
	margin: 5px 0px 0px;
	padding: 0px;
	float: left;
}

#popup #form_body input.inputSubmit, #popup #form_body input.inputButton {
	width: auto;
	padding: 0 16px;
	margin: 0;
}


/*fields in acc and training forms*/

#popup #form_body div.frmSection p.frm_info {
	margin: 10px 0px 20px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
}

#popup #form_body div.frmSection { 
	margin: 0px 0px 30px 0px;
	width: 602px;
	padding: 0px 0px 30px;
	background: url(../images/acc_form_section.jpg) no-repeat bottom left;
}

#popup #form_body  h3 {
	background: url(../images/acc_form_h3.jpg) no-repeat top left;
	height: 18px;
	width: 605px;
	padding: 13px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
}

#popup #form_body  h4 {
	color: #666666;
	font-size: 1.6em;
	font-style:italic;
	margin: 20px 0px 10px 20px;
	border-bottom: 1px solid #666666;
	display: block;
	float: left;
	width: 570px;
	padding: 0px 0px 5px ;

}

#popup #form_body  input.date_time{
	margin-right: 5px;
	width: 110px;
}

#popup #form_body  input.time {
	margin-right: 5px;
	width: 30px;
}

#popup #form_body label.mins {
	float: none;
	display: inline;
	width: 28px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#popup #form_body label.hrs  {
	float: none;
	display: inline;
	width: 42px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#popup #form_body span.radio_label {
	float: left;
	color: #000000;
	margin: 3px 4px 0px 0px;
}

#popup #form_body  input.inputRadio {
	float: left;
	margin: 5px 12px 0 0;
}

#popup #form_body  div.extra_text p  {
	display: block;
	float: left;
	width: 118px;
	padding: 0px 5px 3px 0px;
	margin: 0 0 5px 0;
	text-align: right;
	border: 0px;
	background: transparent;
}

/*styles for form fieldes that take up half width column*/

#popup #form_body div.col {
	float : left;
	width: 298px;
	display: inline;
	margin: 0px;
	padding: 0px 0px 20px ;
	
}

#popup #form_body div.acc2 {
	width: 258px;
}

#popup #form_body div.acc1 {
	width: 343px;
}

#popup #form_body div.acc1 div.frm_row {
	width: 308px;
}

#popup #form_body div.col input.inputText, #popup #form_body div.col select, #popup #form_body div.col textarea {
	width: 184px;
}

#popup #form_body div.col div.extra_text span.label, #popup #form_body div.col label, #popup #form_body div.col span.label {
	width: 70px;
	padding: 3px 5px 3px 0px;
}

#popup #form_body div.col span.value {
	float: left; 
	width: 184px;
}

#popup #form_body div.col div.extra_text {
	width: 77px;
}

#popup #form_body div.col div.extra_text p  {
	width: 72px;
}

#popup #form_body div.col div.frmbutton { 
	width: 320px;
	text-align: right;
	padding: 0px;
}

#popup #form_body span.goToUrl {
	display: block;
	background-image: url(../../../../images/world_go.png);
	background-repeat: no-repeat;
	margin: 0px 0px 20px 130px;
	padding-left: 20px;
	cursor: pointer;
	clear: both;
}

#popup #form_body span.value span{
	margin: 0px;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #999999;
	min-height: 20px;
	width: 100%;
	display: block;
	float: left;
}

#popup #form_body div.optional label {
	font-weight: normal;
}

#popup #form_body div.required label {
	font-weight: bold;
}
