/*lotc table list*/

table.lotc_list {
	table-layout: fixed;
	width: 646px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.lotc_list thead {
	width: 646px;
}

table.lotc_list thead th {
	padding: 14px 10px 12px 10px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
}

table.lotc_list thead th.start {
	background: url(../images/lotc_table_top.jpg) left top;
}

table.lotc_list thead th.end {
	background: url(../images/lotc_table_top.jpg) right top;
}

table.lotc_list thead th {
	background: url(../images/lotc_table_top.jpg) center top;
}


table.lotc_list tbody {
	width: 646px;
}


/*table row hover*/
table.lotc_list tbody tr:hover  td.start, table.lotc_list tbody tr.highlight:hover  td.start{
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat 3px -120px;
}

table.lotc_list tbody tr:hover  td, table.lotc_list tbody tr.highlight:hover  td {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat -300px -120px;
}

table.lotc_list tbody tr:hover  td.end, table.lotc_list tbody tr.highlight:hover  td.end {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat  right -120px;
}

/*table row normal*/
table.lotc_list tbody tr td.start {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat 3px 0px;
}

table.lotc_list tbody tr td {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat top center;
}

table.lotc_list tbody tr td.end {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat top right;
	padding-right: 4px;
}

table.lotc_list tbody tr td.end a{
}

/*table row highlight*/

table.lotc_list tbody tr.highlight td.start {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat 3px -240px;
}

table.lotc_list tbody tr.highlight td {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat -300px -240px;
}

table.lotc_list tbody tr.highlight td.end {
	background: url(../images/lotc_table_full.jpg) #d7d7d7 no-repeat right -240px;
}


table.lotc_list tbody td {
	background: transparent;
}

table.lotc_list tfoot {
	height: 40px;
	padding: 0px 0px 0px 0px;
	width: 646px;
}

table.lotc_list tfoot td.start {
	background: url(../images/lotc_table_footer.jpg) left bottom;
}

table.lotc_list tfoot td.end {
	background: url(../images/lotc_table_footer.jpg) right bottom;
}


table.lotc_list tfoot td {
	background: url(../images/lotc_table_footer.jpg) center bottom;
}

table.lotc_list tfoot td{
	padding: 0px 0px 60px 0px;
}

table.lotc_list tbody td {
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
	/*
	border-bottom: 1px solid #bcbcbc;
	*/
	word-wrap: break-word;
}

table.lotc_list tbody a {
	display: block;
	text-decoration: none;
	color: #111111;
	padding: 6px 5px;
}
	
table.lotc_list tbody td.start {
	padding-left: 5px;
}

table.lotc_list tbody td.end {
	padding-right: 7px;
}


/*order arrows in form/field list*/

table.lotc_list tbody td a.order_up {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	cursor: pointer;
	background: url(../images/order_up.jpg) transparent no-repeat;
	border: 1px solid #666666;
	padding: 0px;
	margin: 2px 0px 4px;
	
}

table.lotc_list tbody td a.order_down {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: url(../images/order_down.jpg) transparent no-repeat;
	border: 1px solid #666666;
	padding: 0px;
	margin: 0px 0px 2px;
	
}

table.lotc_list tbody td.stage a{
	width: 30px;
}
	
table.lotc_list tbody td.order_arrows {
	width: 10px;
}


td.uploaded,th.uploaded {
	width: 80px;
}


td.action,th.action {
	width: 80px;
}

table.lotc_list tbody td a.add_link, table.lotc_list tbody td a.rm_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.lotc_list tbody td a.add_link:hover, table.lotc_list tbody td a.rm_link:hover {
	text-decoration: underline;;
	color: #000000;
}

table.lotc_list tbody td a.td_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.lotc_list tbody td a.td_link:hover {
	text-decoration: underline;
}