.list a.uline {
	text-decoration: underline;
}

.list a.uline:hover {
	text-decoration: none;
}


#crumbtrail {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	
}

#crumbtrail li {
	list-style-image: none;
	list-style-type: none;
	line-height: 1.0em;
	font-size: 1.0em;
	background-image:url(../images/arrow_purple.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	list-style-type:none;
	padding:0px 0px 0px 10px;
	float:left;
	margin: 0px 7px 0px 0px;
	color: #666666;
}

#crumbtrail li a{
	line-height: 1.0em;
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
}

#crumbtrail li a:hover{
	color: #666666;
	text-decoration: underline;
}

#crumbtrail li.firstcrumb {
	background-image:none;
	padding: 0px;
}
	
/*acc dropshadow  form backgrounds and paddings */
#acc_form {
	background: url(../images/acc_form.jpg) repeat-y;
	padding: 20px;
	width: 605px;
	margin-top: 0px;
}

#acc_form  form#frForm {
	width: 605px;
} 

#acc_form  h3 {
	background: url(../images/acc_form_h3.jpg) no-repeat top left;
	height: 18px;
	width: 605px;
	padding: 13px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
}

#acc_form  h4 {
	color: #666666;
	font-size: 1.6em;
	font-style:italic;
	margin: 20px 0px 10px 20px;
	border-bottom: 1px solid #666666;
	display: block;
	float: left;
	width: 570px;
	padding: 0px 0px 5px ;

}

#acc_form div.frmSection p.frm_info {
	margin: 10px 0px 0px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
	float: left;
}

#acc_form div.frmSection p.frm_info strong{
	font-size: 1.2em;
}

div.frmSection { 
	margin: 0px 0px 30px 0px;
	width: 602px;
	padding: 0px 0px 30px;
	background: url(../images/acc_form_section.jpg) no-repeat bottom left;
}


#acc_form_header {
	background: url(../images/acc_form_top.jpg) no-repeat left top;
	width: 620px;
	margin: 20px 0px 0px;
	padding: 20px 15px 0px 10px;
}

#acc_form_footer {
	background: url(../images/acc_form_footer.jpg) no-repeat left bottom;
	padding: 20px;
	width: 605px;
	margin: 0px;
}

#acc_form_header p {
	border-bottom: 1px solid #666666;
	padding: 0px 10px 10px;
	margin: 0px;
}

#acc_form_header h2 {
	padding: 0px 10px 10px;
	margin: 0px;
}

#acc_form div.frmbutton { 
	width: 400px;
}

/*acc form styles*/
/*for extra text below label*/
#acc_form div.frmSection div.extra_text p  {
	display: block;
	float: left;
	width: 118px;
	padding: 0px 5px 3px 0px;
	margin: 0 0 5px 0;
	text-align: right;
	border: 0px;
	background: transparent;
}


#acc_form   div  span.value {
	margin: 0;
	padding: 1px 3px;
	width: 200px;
	display: block;
	
}

#acc_form   div.full_width span.value {
	width: 500px;
}

#acc_form    span.label {
	width: 72px;
}

#acc_form    span.value  span{
	margin: 0px;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #999999;
	min-height: 20px;
	width: 100%;
	display: block;
	float: left;
}

div.extra_text {
	width: 136px;
	padding: 0px;
	margin: 0px;
	float: left;
}

form div.extra_text label,  div.extra_text span.label,form div label {
	display: block;
	float: left;
	width: 110px;
	padding: 3px 23px 3px 0px;
	margin: 0 2px 5px 0;
	text-align: right;
}

/*stules for form fieldes that take up half width column*/
form div.col  div label {
	width: 72px;
	padding: 3px 5px 3px 0px;
}

form div.col div.extra_text label, div.col  div.extra_text span.label {
	width: 47px;
	padding: 3px 23px 3px 0px;
}

div.col div.extra_text {
	width: 77px;
}

div.col div.extra_text p  {
	width: 72px;
}

form div.col {
	float : left;
	width: 298px;
	display: inline;
	clear: none;
	margin: 0px;
	padding: 0px 0px 20px ;
}


form  div.extra_text label.extra_info, div.extra_text span.extra_info{
	background-image: url(../images/icon_info.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px 23px 3px 0px;
}

/*
form div.acc_frm input, form div.acc_frm select, form div.acc_frm textarea {
	margin: 0;
	padding: 1px 3px;
	width: 440px;
}

form div.acc_frm input.checkbox {
	margin: 0;
	padding: 1px 3px;
	width: 20px;
}
*/
form div input.date_time{
	margin-right: 5px;
	width: 110px;
}

form div input.time {
	margin-right: 5px;
	width: 30px;
}

img.time_cal {
}

form div label.mins {
	float: none;
	display: inline;
	width: 28px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

form div label.hrs  {
	float: none;
	display: inline;
	width: 42px;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

#acc_form form  textarea {
	width: 444px;
}

/*non edit data div*/

/*

div.acc_frm div.value {
	margin: 0;
	padding: 1px 3px 10px;
	width: 440px;
	float: left;
	clear: none;
	background: #ffffff;
	border: 1px solid #888888;
}

div.acc_frm {
	clear: left;
	display: block;
	margin: 5px 0 10px 0;
	padding: 1px 3px 10px 0px;
	border-bottom: 1px solid #bbbbbb;
}

*/
#acc_form fieldset {
	border: 0px;
	width: 605px;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}




.acc_box_header {
	background: url(../images/acc_box_top.jpg) no-repeat left top;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 8px 10px 8px 10px;
}

.acc_box {
	background: url(../images/acc_box.jpg) repeat-y;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 10px 10px 0px 10px;
}

.acc_box_footer {
	background: url(../images/acc_box_footer.jpg) no-repeat left bottom;
	width: 300px;
	margin: 0px 0px 0px;
	padding: 0px 0px 30px 0px;
}


.acc_box_header h2 {
	color: #ffffff;
	font-weight: normal;
}	

.acc_box li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #666666;
}

/*acc box select box and label*/

.acc_box label {
	float: left;
	width: 80px;
}

.acc_box select {
	float: left;
	width: 180px;
	margin-bottom: 10px;
}



/*box side nav list*/

.side_nav a {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;
	
}
.side_nav a:hover {
	text-decoration: underline;;
	color: #000000;
}	


.side_nav li {
	border: 0px;
}




.acc_box li {
	border-bottom: 10px solid #ffffff;
}

/*copy trip*/
.copy_visit {
	padding-left: 10px;
}

.copy_visit a {
	text-decoration: none;
	background: url(../admin_icons/table_multiple.png) no-repeat;
	padding: 0px 0px 0px 20px;
}


/*email visit*/
.acc_box_list a.email_addr  {
	display: block;
	background: url(../images/email.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.acc_box_list a.delete_email  {
	display: block;
	background: url(../images/delete.png) no-repeat 10px 5px;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 20px;
	text-indent: -9999px;
}


/*highlight in acc list*/


table.acc_list tbody td a.td_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.acc_list tbody td a.td_link:hover {
	text-decoration: underline;
}


/*riddor text box*/

#riddor_text {
	margin: 10px 0px 0px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
	color: #444444;
}

#riddor_text h4 {
	width: 570px;
	margin: 5px 0px 10px;
	padding: 0px;

}

#riddor_text p.small {
margin-top: 20px;
	font-size: 0.8em;
}

#content #riddor_text li, #contentWide #riddor_text li {
	list-style-image: none;
	list-style-type: square;
	margin: 0px 0px 10px 15px;;
}

/*create report  box */
li.reportList1 a {
	background: url(../../../handsam_core/functionality/reporting/images/cogs.png) no-repeat 0px 5px;
	padding: 10px 0px 10px 35px;
	color: #000000;
	font-size: 1.0em;
	text-decoration: none;
}

li.reportList1 a:hover {
	background-position:  0px -54px;
	padding: 10px 0px 10px 35px;
	text-decoration: underline;
	color: #7C9518;
}


ul.boxList  li a {
	background: url(../../../handsam_core/functionality/reporting/images/report_list_arrow.png) no-repeat 0px 2px;
	padding: 0px 10px 0px 20px;
	color: #000000;
	font-size: 1.0em;
	text-decoration: none;
	display: block;
	margin: 0px 0px 0px;
}

ul.boxList  li a:hover {
	background-position:  0px -44px;
	color: #7C9518;
	text-decoration: underline;
}



.acc_box  a:hover {
	color: #000000;
	text-decoration: none;
}

.acc_box a {
	color: #7C9518;
	text-decoration: underline;
}

#add_person, #edit_person, #add_site, #edit_site {
	border: 0px;
	vertical-align: middle;
	margin-left: 10px;
	/*float: left;*/
}

#add_person:hover, #edit_person:hover, #add_site:hover, #edit_site:hover {
	cursor: pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}

a.deleteItem, a.unDeleteItem {
	margin: 10px;
	font-size: 1.2em;
	font-weight: bold;
}