.list a.uline {
	text-decoration: underline;
}

.list a.uline:hover {
	text-decoration: none;
}


#crumbtrail {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	
}

#crumbtrail li {
	list-style-image: none;
	list-style-type: none;
	line-height: 1.0em;
	font-size: 1.0em;
	background-image:url(../images/arrow_purple.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	list-style-type:none;
	padding:0px 0px 0px 10px;
	float:left;
	margin: 0px 7px 0px 0px;
	color: #666666;
}

#crumbtrail li a{
	line-height: 1.0em;
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
}

#crumbtrail li a:hover{
	color: #666666;
	text-decoration: underline;
}

#crumbtrail li.firstcrumb {
	background-image:none;
	padding: 0px;
}

.acc_box_header {
	background: url(../images/acc_box_top.jpg) no-repeat left top;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 8px 10px 8px 10px;
}

.acc_box {
	background: url(../images/acc_box.jpg) repeat-y;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 10px 10px 0px 10px;
}

.acc_box_footer {
	background: url(../images/acc_box_footer.jpg) no-repeat left bottom;
	width: 300px;
	margin: 0px 0px 0px;
	padding: 0px 0px 30px 0px;
}


.acc_box_header h2 {
	color: #ffffff;
	font-weight: normal;
}	

.acc_box li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #666666;
	list-style-type: none;
}

/*acc box select box and label*/

.acc_box label {
	float: left;
	width: 80px;
}

.acc_box select {
	float: left;
	width: 180px;
	margin-bottom: 10px;
}



/*box side nav list*/

.side_nav a {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;
	
}
.side_nav a:hover {
	text-decoration: underline;;
	color: #000000;
}	


.side_nav li {
	border: 0px;
	list-style-type: none;
}




.acc_box li {
	border-bottom: 10px solid #ffffff;
	list-style-type: none;
}

/*copy trip*/
.copy_visit {
	padding-left: 10px;
}

.copy_visit a {
	text-decoration: none;
	background: url(../admin_icons/table_multiple.png) no-repeat;
	padding: 0px 0px 0px 20px;
}


/*email visit*/
.acc_box_list a.email_addr  {
	display: block;
	background: url(../images/email.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.acc_box_list a.delete_email  {
	display: block;
	background: url(../images/delete.png) no-repeat 10px 5px;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 20px;
	text-indent: -9999px;
}


/*highlight in acc list*/


table.acc_list tbody td a.td_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.acc_list tbody td a.td_link:hover {
	text-decoration: underline;
}


/*riddor text box*/

#riddor_text {
	margin: 10px 0px 0px 10px;
	background: #ffffcc;
	padding: 10px 5px;
	border: 1px solid #666666;
	width: 570px;
	color: #444444;
}

#content #form_body #riddor_text h4 {
	width: 570px;
	margin: 5px 0px 10px;
	padding: 0px;

}

#riddor_text p.small {
margin-top: 20px;
	font-size: 0.8em;
}

#content #riddor_text li, #contentWide #riddor_text li {
	list-style-image: none;
	list-style-type: square;
	margin: 0px 0px 10px 15px;;
}

/*create report  box */
li.reportList1 a {
	background: url(../../../handsam_core/functionality/reporting/images/cogs.png) no-repeat 0px 5px;
	padding: 10px 0px 10px 35px;
	color: #000000;
	font-size: 1.0em;
	text-decoration: none;
}

li.reportList1 a:hover {
	background-position:  0px -54px;
	padding: 10px 0px 10px 35px;
	text-decoration: underline;
	color: #7C9518;
}


ul.boxList  li a {
	background: url(../../../handsam_core/functionality/reporting/images/report_list_arrow.png) no-repeat 0px 2px;
	padding: 0px 10px 0px 20px;
	color: #000000;
	font-size: 1.0em;
	text-decoration: none;
	display: block;
	margin: 0px 0px 0px;
}

ul.boxList  li a:hover {
	background-position:  0px -44px;
	color: #7C9518;
	text-decoration: underline;
}



.acc_box  a:hover {
	color: #000000;
	text-decoration: none;
}

.acc_box a {
	color: #7C9518;
	text-decoration: underline;
}

#add_person, #edit_person, #add_site, #edit_site {
	border: 0px;
	vertical-align: middle;
	margin-left: 10px;
	/*float: left;*/
}

#add_person:hover, #edit_person:hover, #add_site:hover, #edit_site:hover {
	cursor: pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}

a.deleteItem, a.unDeleteItem {
	margin: 10px;
	font-size: 1.2em;
	font-weight: bold;
	float: left;
}
/*file uploads*/
#uploads_list {
	padding: 10px 10px 30px;;
}

#bt_upload_file {
	display: block;
	margin: 5px 20px 10px 0px;
	text-decoration: none;
	background: url(../images/add_file.png) no-repeat;
	padding: 5px 20px 10px 50px;
	border: 0px;
	font-weight: normal;
	cursor: pointer;	
}

#bt_upload_file:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
}

#content #uploads_list ul li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: left;
	clear: both;
}

#uploads_list ul {
	padding-bottom: 20px;
	display: block;
	width: 100%;
}

#uploads_list a {
	display: inline;
	float: left;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#uploads_list a.pdf {
	display: block;
	background: url(../images/pdf.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.doc {
	display: block;
	background: url(../images/doc.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.docx {
	display: block;
	background: url(../images/docx.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.xls  {
	display: block;
	background: url(../images/xls.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.jpg {
	display: block;
	background: url(../images/jpg.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_li a.jpeg  {
	display: block;
	background: url(../images/jpg.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.link {
	display: block;
	background: url(../images/lotc_link.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

#uploads_list a.edit_file {
	background-image: none;
	display: inline;
	text-decoration: none;
	padding: 4px 0px 0px 8px;
	margin: 0px;
}
	
#uploads_list a.edit_file:hover, #uploads_list a:hover {
	color: #000000;
}

input.disabled {
	color: #cccccc;
	border: 1px dashed #cccccc;
	background: #ffffff;
}

#incident_audit {
    margin: 10px 20px 10px 0px;
    background: #ffffff;
    border: 2px solid #666666;
    padding: 10px;
    border-radius: 6px;
    font-size: 12px;
    font-color: #333333;
}

#incident_audit h3 {
    margin: 0px 0px 5px 0px;
    
}

#incident_audit h3 span {
    font-weight: normal;
}

#content #incident_audit h2 {
    margin: 0px 0px 5px 0px;
}
