/* tables*/
/*acc table list*/
/*

table.acc_list {
	table-layout: fixed;
	width: 646px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.acc_list thead {
	width: 646px;
}

table.acc_list thead th {
	padding: 14px 10px 12px 10px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
}

table.acc_list tbody {
	width: 646px;
}




table.acc_list tbody td {
	background: transparent;
}

table.acc_list tfoot {
	height: 40px;
	padding: 0px 0px 0px 0px;
	width: 646px;
}


table.acc_list tfoot td{
	padding: 0px 0px 60px 0px;
}

table.acc_list tbody td {
	padding: 0px 0px 0px 0px;
	font-size: 1.2em;
	font-weight: normal;
	color: #ffffff;
	text-align: left;
	*/
	/*
	border-bottom: 1px solid #bcbcbc;
	*/
	/*
	word-wrap: break-word;
}

table.acc_list tbody a {
	display: block;
	text-decoration: none;
	color: #111111;
	padding: 6px 5px;
}
	
table.acc_list tbody td.start {
	padding-left: 5px;
}

table.acc_list tbody td.end {
	padding-right: 7px;
}
*/