/*tag cloud*/

#tag_cloud {
font-size: 1.0em;
list-style:none;
}

#tag_cloud li {
float:left;
margin: 1px 4px 1px 1px;
padding: 2px 4px;
white-space: no-wrap;
height: 18px;
}

#tag_cloud li:hover, #tag_cloud li.tag_selected:hover{
cursor: pointer;
background: #cccccc;
}

#tag_cloud li.size1 {
font-size: 0.8em;
color: #888888;
}

#tag_cloud li.size2 {
font-size: 0.9em;
color: #777777;
}

#tag_cloud li.size3 {
font-size: 1.0em;
color: #666666;
}

#tag_cloud li.size4 {
font-size: 1.1em;
color: #555555;
}

#tag_cloud li.size5 {
font-size: 1.2em;
color: #444444;
}

#tag_cloud li.size6 {
font-size: 1.3em;
color: #333333;
}

#tag_cloud li.tag_selected {
background: #2E61A0;
color: #ffffff;
}

#tag_list {
padding: 0px;
border: 1px solid #2E61A0;
color: #2E61A0;
background: #eeeeee;
width: 240px;
margin: 2px 0px 0px 135px;
display: none;
}

#tag_list li {
list-style-type: none;
list-style-image: none;
margin: 0px 0px 4px 0px;
padding: 4px;
cursor: pointer;
}

#tag_list li:hover {
background: #2E61A0;
color: #ffffff;
}

.all_tags,.no_tags {
display: block;
clear: both;
padding: 3px 7px 3px 7px;
cursor: pointer;
}

.all_tags:hover {
background: #cccccc;
}

.no_tags {
background: #2E61A0;
color: #ffffff;
}

.active_licences li {
float: left;
margin: 1px 4px 1px 1px;
padding: 2px 4px;
}