/* 
    Document   : alerts
    Created on : 08-Aug-2012, 10:13:28
    Author     : Mei
    Description:
        Styles for the Alerts page
*/
#alerts fieldset{
position:relative;
border:1px solid #000;
border-radius:5px;
background:#fff;
margin-bottom:12px;
}
#alerts .delete_alert{
position:absolute;
top:0px;
right:0px;
border-left:1px solid #000;
border-bottom:1px solid #000;
border-bottom-left-radius: 5px;
font-size:1.5em;
font-weight:bold;
color:#fff;
background:red;
padding:0px 4px;
line-height:1em;
cursor:pointer;
}
#alerts li {
border:1px solid #e7e7e7;
background:#eee;
padding:6px 4px 2px;
font-size:larger;
}
#alerts li div.alert_options{
margin-top:6px;
                             /*
-webkit-transition:0.2s ease-in-out 0.1s;
-moz-transition:0.2s ease-in-out 0.1s;
-o-transition:0.2s ease-in-out 0.1s;
transition:0.2s ease-in-out 0.1s;
                             */
}
#alerts li:hover div.alert_options span{
color:red;
-webkit-transition:0.2s ease-in-out 0.1s;
-moz-transition:0.2s ease-in-out 0.1s;
-o-transition:0.2s ease-in-out 0.1s;
transition:0.2s ease-in-out 0.1s;
}
#alerts div.alert_options span{
cursor:pointer;
color:#999;
font-size:smaller;
}
#alerts li span.alert_user{
font-size:larger;
}
#alerts li span.alert_email{
display:block;
font-family: 'courier new', monospace;
color: #333;
}
#alerts span.edit_alert_user{
background:url('../../../images/pencil.png') center center no-repeat;
}
#alerts span.delete_alert_user{/*
background:url('../../../images/delete.png') center center no-repeat;*/
}
#alerts .add-alert-user, a.add-alert{
background:transparent url('../../../images/add.png') left center no-repeat;
padding-left:18px;
}
div.jobrole{
border: 1px solid #E7E7E7;
background: #EEE;
padding: 6px 4px 2px;
margin-bottom:6px;
}
div.jobrole:hover .delete_jobrole{
color:red;
-webkit-transition:0.2s ease-in-out 0.1s;
-moz-transition:0.2s ease-in-out 0.1s;
-o-transition:0.2s ease-in-out 0.1s;
transition:0.2s ease-in-out 0.1s;
}
div.jobrole .delete_jobrole{
color:#999;
cursor:pointer;
}
span.jobroleuser{
margin-right:6px;
color:#888;
}
/* put a comma after every name, except... */
span.jobroleuser:after{
content:',';
}
/* ...for the last one who gets a full stop */
span.jobroleuser:last-child:after{
content:'.';
}
/* Global Alerts */
.g_alert{
color:#666;
background:#ccc;
padding:4px 8px;
margin-bottom:6px;
}
#alerts h3{
margin-bottom:6px;
}
.select_jobroles_table{
width:100%;
}
.select_jobroles_table td, .select_jobroles_table th{
padding: 4px 4px;
text-align: left;
}
.select_jobroles_table td{
cursor:pointer;
}
.select_jobroles_table td:hover{
opacity:0.4;
filter: alpha(opacity=40);
}
#alerts .jobrole_title{
font-size:larger;
}
#alerts .jobrole_users{
color:#888;
margin-top:6px;
}

.select_am_table{
width:100%;
}
.select_am_table td, .select_am_table th{
padding: 4px 4px;
text-align: left;
}
.select_am_table td{
cursor:pointer;
}
.select_am_table td:hover{
opacity:0.4;
filter: alpha(opacity=40);
}
.select_am_table th{
	font-size: 1.1em;
}

input#alert_save {
	font-size: 18pt;
	padding: 5px 10px;
	cursor:pointer;
}

input#alert_save:hover {
	opacity:0.4;
	filter: alpha(opacity=40);
}