div.news_list {
    margin-bottom: 10px;
}

div.popupstory {
    margin: 10px 0px;
    padding: 10px;
    border: 2px solid #F6A828;
    background-color: #ffffff;
    border-radius:6px;
}

.ui-widget-content a.readmore, .ui-widget-content a.readmore:visited {
    color: #F6A828;
    text-decoration: none;
    font-weight: bold;
    border: 0px;
}

.ui-widget-content a.readmore:hover {
    color: #222222;
    text-decoration: underline;
}