#contact_details{
overflow:auto;
border:1px solid #000;
border-top:0px;
}
.bordered{
border:1px solid #000;
border-bottom:0px;
}
#toggle_showhide{
padding-left:70%;
border-bottom:1px solid #000;
cursor:pointer;
}
#toggle_showhide span{
border:1px solid #000;
padding:2px;
padding-bottom:0px;
}