div.filter {
	float: left;
	width: 310px;
	height: 30px;
	margin: 0px 10px 0px 0px;
}
	
div.filter label {
	width: 130px;
	float: left;
}

div.add_acc {
	float: left;
	clear: both;
    padding: 0 0 10px;}

img#reset_authority, #reset_acc_name, #reset_acc_dfe {
	margin: 4px 0px 0px 5px;
}

.tasklist_filter {
	float: left;
	width: 400px;
	height: 30px;
	margin: 0px 10px 0px 0px;
	
}

div.tasklist_filter label {
	width: 130px;
	float: left;
}
