/*acc stuff*/

.uploads_list a, .acc_box_list a {
	display: inline;
	float: none;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#content ul.uploads_list li,ul.acc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: none;
}

#e-training a {
    display: block;
    background:url(../images/e-training.gif) -7px -7px no-repeat;
    padding: 0px 0px 0px 55px;
    height: 80px;
    text-decoration: none;
    color: #00457C;
    font-size: 16px;
}

a.online_course {
	padding: 13px 0px 23px 54px;
	float: left;
	background: url(../images/e-training.gif) no-repeat -6px -143px;
	text-decoration: none;
	
}