.acc_box .comments li {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: #dedede;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}

.comments h3 {
	margin-bottom: 10px;
	width: 100px;
	float: left;
}

.acc_box .comments {
	margin-bottom: 20px;
	clear: both;
	background: #ffffff;
	padding: 4px;
    width: 260px;
}

.acc_box .comments P {	
    WIDTH: 260px;
}

#content #form_body .comments h3 {
	background: transparent;
	width: auto;
}


.comments a {
	float: right;
	background: #5F3047;
	color: #ffffff;
	text-decoration: none;
	padding: 1px 3px;
}

.comments a:hover {
	background: transparent;
	color: #5F3047;
}

#comment_list {
	
	clear: both;
	width: 260px;
    margin-top: 10px;
}