#content .comments li {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: #dedede;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}

.comments h3 {
	margin-bottom: 10px;
	width: 100px;
	float: left;
}

.comments {
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 20px;
	clear: both;
	width: 240px;
	float: right;
	border: 1px solid #999999;
	background: #ffffff;
	padding: 4px;
}

#content #form_body .comments h3 {
	background: transparent;
	width: auto;
}


.comments a {
	float: right;
	background: #5F3047;
	color: #ffffff;
	text-decoration: none;
	padding: 1px 3px;
}

.comments a:hover {
	background: transparent;
	color: #5F3047;
}

#comment_list {
	float: left;
	clear: both;
	width: 230px;
}