.list a.uline {
	text-decoration: underline;
}

.list a.uline:hover {
	text-decoration: none;
}


#crumbtrail {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	
}

#crumbtrail li {
	list-style-image: none;
	list-style-type: none;
	line-height: 1.0em;
	font-size: 1.0em;
	background-image:url(../images/arrow_purple.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	list-style-type:none;
	padding:0px 0px 0px 10px;
	float:left;
	margin: 0px 7px 0px 0px;
	color: #666666;
}

#crumbtrail li a{
	line-height: 1.0em;
	font-size: 1.0em;
	text-decoration: none;
	font-weight: bold;
}

#crumbtrail li a:hover{
	color: #666666;
	text-decoration: underline;
}

#crumbtrail li.firstcrumb {
	background-image:none;
	padding: 0px;
}
	





/*visit crumbtrail*/


#visit_crumb li {
	list-style-image: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}


#visit_crumb li a {
	font-size: 1.2em;
	text-decoration: none;
	padding: 0px 4px 0px 14px;
	margin: 0px 0px 0px ;
	background-image: url(../images/visit_crumb.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}

#visit_crumb li a:hover {
	color: #666666;
}

#visit_crumb li.this_stage a {
	font-weight: bold;
}

#visit_crumb li.stage1 a {
	background-image: none;
	padding: 0px 4px 0px 0px;
}

#visit_crumb {
	margin: 0px 0px 10px 10px;
	padding: 0px;
}

.visit_info {
	/*padding-left: 10px;*/
}

/*
p.visit_description {
	padding-left: 0px;
	display:inline;
}
*/

a.edit_visit, a.add_comment, a.new_edit_visit {
	display:inline;
	text-decoration: none;
}

a.add_comment {
	background: url(../../../admin_icons/comment_add.png) no-repeat;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 20px;
}


a.edit_visit:hover, a.add_comment:hover, a.new_edit_visit:hover {
	color: #000000;
}

#content .comments li {
	list-style-image: none;
	list-style-type: none;
	background: #dedede;
	padding: 5px;
	margin: 0px 10px 5px 20px;
	width: 560px;
}

#comment_list {
	margin-top: 20px;
}

.comments, .comments p {
	float:left;
	clear: both;
	width: 600px;
}

.comments h3 {
	margin-bottom: 10px;
}

.comments {
	margin-bottom: 20px;
}

.lotc_box_header {
	background: url(../images/lotc_box_top.jpg) no-repeat left top;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 8px 10px 8px 10px;
}

.lotc_box {
	background: url(../images/lotc_box.jpg) repeat-y;
	width: 280px;
	margin: 0px 0px 0px;
	padding: 10px 10px 0px 10px;
}

.lotc_box_footer {
	background: url(../images/lotc_box_footer.jpg) no-repeat left bottom;
	width: 300px;
	margin: 0px 0px 0px;
	padding: 0px 0px 30px 0px;
}


.lotc_box_header h2 {
	color: #ffffff;
	font-weight: normal;
	font-size: 14pt;
}	

.lotc_box li {
	list-style-type: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #666666;
}

/*lotc box select box and label*/

.lotc_box label {
	float: left;
	width: 80px;
}

.lotc_box select {
	float: left;
	width: 180px;
	margin-bottom: 10px;
}



/*box side nav list*/

.side_nav a {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;
	
}
.side_nav a:hover {
	text-decoration: underline;;
	color: #000000;
}	


.side_nav li {
	border: 0px;
	list-style-type: none;
}


/*user file uploads list*/
.uploads p {
	margin: 10px 0px 0px 20px;
}

.uploads h3 {
	margin-bottom: 10px;
}

.upload_doc {
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
	background: url(../../../admin_icons/page_add.png) no-repeat;
	padding: 0px 0px 0px 20px;
}

.upload_doc:hover {
	text-decoration: none;
	color: #000000;
	background: url(../../../admin_icons/page_add.png) no-repeat;
}

#bt_upload_file {
	display: block;
	margin: 0px 0px 5px 20px;
	text-decoration: none;
	background: url(../../../admin_icons/page_add.png) no-repeat;
	padding: 0px 0px 0px 20px;
	border: 0px;
	width: 100px;
	cursor: pointer;
	
}

#bt_upload_file:hover {
	text-decoration: underline;
}

#content ul.uploads_list li,ul.lotc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px 0px 0px 20px;
	float: left;
	clear: both;
}

.uploads_list {
	margin: 20px 0px 0px 0px;
}
	
.uploads_list a, .lotc_box_list a {
	display: inline;
	float: left;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

.uploads_list a.pdf, .lotc_box_list a.pdf {
	display: block;
	background: url(../images/pdf.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.doc, .lotc_box_list a.doc {
	display: block;
	background: url(../images/doc.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.docx, .lotc_box_list a.docx {
	display: block;
	background: url(../images/docx.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.xls, .lotc_box_list a.xls  {
	display: block;
	background: url(../images/xls.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.jpg, .lotc_box_list a.jpg  {
	display: block;
	background: url(../images/jpg.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.jpeg, .lotc_box_list a.jpeg  {
	display: block;
	background: url(../images/jpg.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.link, .lotc_box_list a.link  {
	display: block;
	background: url(../images/lotc_link.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.uploads_list a.edit_file {
	background-image: none;
	display: inline;
	text-decoration: none;
}
	
.uploads_list a.edit_file:hover, .uploads_list a:hover {
	color: #000000;
}	

/*
.edit_visit, .edit_visit:hover {
	text-decoration: none;
	background: url(../../../admin_icons/application_edit.png) no-repeat;
	padding: 0px 0px 0px 20px;
	margin-left: 20px;
}
*/

.lotc_box li {
	border-bottom: 10px solid #ffffff;
	list-style-type: none;
}

/*copy trip*/
.copy_visit {
	/*padding-left: 10px;*/
}

.copy_visit a {
	text-decoration: none;
	background: url(../../../admin_icons/table_multiple.png) no-repeat;
	padding: 0px 0px 0px 20px;
}


/*email visit*/
.lotc_box_list a.email_addr  {
	display: block;
	background: url(../images/email.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
}

.lotc_box_list a.delete_email  {
	display: block;
	background: url(../images/delete.png) no-repeat 10px 5px;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 20px;
	text-indent: -9999px;
}


#email_list {
	padding: 4px;
	border: 1px solid #666666;
	color: #2E61A0;
	background: #eeeeee;
	width: 300px;
	margin: 0px 0px 0px 94px;
	display: none;
}

#email_list li {
	list-style-type: none;
	list-style-image: none;
	margin: 0px 0px 4px 0px;
	padding: 0px;
	cursor: pointer;
}

/*email log box*/

#email_log p {
	float: left;
	clear: both;
	
}

#email_log .hide {
	display: none;
}

/*highlight in lotc list*/
table.acc_list tbody a.lotc_highlight {
	padding-left: 22px;
	background: url(../images/icon_error_red.gif) no-repeat 0px 5px;
}

table.acc_list tbody a.amber {
	padding: 6px 0px 6px 20px;
	background: url(../images/icon_error.gif) no-repeat 0px 5px;
}

table.acc_list tbody a.red {
	padding: 6px 0px 6px 30px;
	background: url(../images/icon_error_red.gif) no-repeat 0px 5px;
}





/*order arrows in form/field list*/

table.acc_list tbody td a.order_up {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	cursor: pointer;
	background: url(../images/order_up.jpg) transparent no-repeat;
	border: 1px solid #666666;
	padding: 0px;
	margin: 2px 0px 4px;
	font-size: 6px;
	
}

table.acc_list tbody td a.order_down {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: url(../images/order_down.jpg) transparent no-repeat;
	border: 1px solid #666666;
	padding: 0px;
	margin: 0px 0px 2px;
	font-size: 6px;
	
}

table.acc_list tbody td.stage a{
	width: 30px;
}
	
table.acc_list tbody td.order_arrows {
	width: 10px;
}


td.uploaded,th.uploaded {
	width: 80px;
}


td.action,th.action {
	width: 80px;
}

table.acc_list tbody td a.add_link, table.acc_list tbody td a.rm_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.acc_list tbody td a.add_link:hover, table.acc_list tbody td a.rm_link:hover {
	text-decoration: underline;;
	color: #000000;
}

table.acc_list tbody td a.td_link {
	padding: 0px 0px 0px 12px;
	text-decoration: none;
	background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.acc_list tbody td a.td_link:hover {
	text-decoration: underline;
}

table.acc_list tbody a.copyVisit {
	background: url(../images/copy.png) no-repeat 0px 0px;
	padding: 6px 0px 6px 30px;
}
table.acc_list tbody a.new_edit_visit {
	background: url(../images/copy.png) no-repeat 0px 0px;
	padding: 6px 0px 6px 30px;
}
table.acc_list tbody a.copyVisit:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
	
}
	

p.visit_menu a.copy_visit {
	color: #111111;
	background: url(../images/copy.png) no-repeat #ffffff 2px 0px;
	padding: 8px 2px 8px 32px;
	text-decoration: none;
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border: 1px solid #111111;	
	float: left;
}

p.visit_menu a.new_edit_visit {
	color: #111111;
	background: url(../images/copy.png) no-repeat #ffffff 2px 0px;
	padding: 8px 2px 8px 32px;
	text-decoration: none;
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border: 1px solid #111111;	
	float: left;
}
	
p.visit_menu a.copy_visit:hover {
	opacity:0.4;
	filter:alpha(opacity=40);
	
}

p.visit_menu .edit_visit .new_edit_visit {
	color: #111111;
	background: url(../images/edit.png) no-repeat #ffffff 2px 0px;
	padding: 8px 2px 8px 32px;
	text-decoration: none;
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border: 1px solid #111111;	
	margin: 0px 0px 0px 20px;
	float: left;
}
	
p.visit_menu .edit_visit:hover .new_edit_visit:hover{
	opacity:0.4;
	filter:alpha(opacity=40);
	
}

p.visit_menu span.edit_visit span.new_edit_visit {
	margin-right: 20px;
	opacity:0.4;
	filter:alpha(opacity=40);
}	
	

div.lotc_frm {
	clear: left;
	display: block;
	margin: 5px 0 10px 0;
	padding: 1px 3px 10px 0px;
	border-bottom: 1px solid #bbbbbb;
}

div.lotc_frm div.value {
	margin: 0;
	padding: 1px 3px 10px;
	width: 440px;
	float: left;
	clear: none;
	background: #ffffff;
	border: 1px solid #888888;
}

table.acc_list thead th.lotc_state {
	width: 85px;
	text-align: center;
}

table.acc_list tbody tr td.lotc_state {
	text-align: right;
}

table.acc_list tbody tr td.lotc_state a {
	padding-right: 2px;
}

