/*lotc stuff*/

.uploads_list a, .lotc_box_list a {
	display: inline;
	float: none;
	background: url(../images/file.png) no-repeat;
	padding: 4px 0px 0px 34px;
	margin: 0px;
	height: 36px;
	text-decoration: none;
}	

#content ul.uploads_list li,ul.lotc_box_list li {
	list-style-image: none;
	padding: 0px;
	margin: 0px;
	float: none;
}
