/* 
    Document   : doclib CSS
    Created on : 31-Jan-2013, 13:58:49
    Author     : Mei Gwilym
*/

/*acc dropshadow  form backgrounds and paddings */
#acc_form {
    background: url(../images/acc_form.jpg) repeat-y;
    padding: 20px;
    width: 605px;
    margin-top: 0px;
}

#acc_form  form#frForm {
    width: 605px;
} 

#acc_form  h3 {
    height: 18px;
    width: 605px;
    padding: 13px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
}

#acc_form  h4 {
    color: #666666;
    font-size: 1.6em;
    font-style:italic;
    margin: 20px 0px 10px 20px;
    border-bottom: 1px solid #666666;
    display: block;
    float: left;
    width: 570px;
    padding: 0px 0px 5px ;

}

#acc_form div.frmSection p.frm_info {
    margin: 10px 0px 0px 10px;
    background: #ffffcc;
    padding: 10px 5px;
    border: 1px solid #666666;
    width: 570px;
}

#acc_form div.frmSection p.frm_info strong{
    font-size: 1.2em;
}

div.frmSection { 
    margin: 20px 0px 30px 0px;
    width: 600px;
    padding: 0px 0px 30px;
    background: #999999;
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
}

div.frmSection p {
    padding: 0px 0px 0px 10px;
}

#acc_form_header {
    background: url(../images/acc_form_top.jpg) no-repeat left top;
    width: 620px;
    margin: 20px 0px 0px;
    padding: 20px 15px 0px 10px;
}

#acc_form_footer {
    background: url(../images/acc_form_footer.jpg) no-repeat left bottom;
    padding: 20px;
    width: 605px;
    margin: 0px;
}

#acc_form_header p {
    border-bottom: 1px solid #666666;
    padding: 0px 10px 10px;
    margin: 0px;
}

#acc_form_header h2 {
    padding: 0px 10px 10px;
    margin: 0px;
}

#acc_form div.frmbutton { 
    width: 400px;
}

/*acc form styles*/
/*for extra text below label*/
#acc_form div.frmSection div.extra_text p  {
    display: block;
    float: left;
    width: 118px;
    padding: 0px 5px 3px 0px;
    margin: 0 0 5px 0;
    text-align: right;
    border: 0px;
    background: transparent;
}


#acc_form   div  span.value {
    margin: 0;
    padding: 1px 3px 10px 3px;
    width: 200px;
}

#acc_form   div.full_width span.value {
    width: 500px;
}

#acc_form    span.label {
    width: 110px;
    padding: 3px 22px 6px 0px;
}

#acc_form    span.value  span{
    margin: 0px;
    padding: 2px;
    background: #ffffff;
    border: 1px solid #999999;
    min-height: 20px;
    width: 304px;
    float: left;
}


form div input, form div select, form div textarea, form div span.value {
    margin: 0;
    padding: 1px 3px;
    width: 300px;
}

div.extra_text {
    width: 136px;
    padding: 0px;
    margin: 0px;
    float: left;
}

form div.extra_text label,  div.extra_text span.label,form div label {
    display: block;
    float: left;
    width: 110px;
    padding: 3px 23px 3px 0px;
    margin: 0 2px 5px 0;
    text-align: right;
}

/*stules for form fieldes that take up half width column*/
form div.col  div label {
    width: 72px;
    padding: 3px 5px 3px 0px;
}

form div.col div.extra_text label, div.col  div.extra_text span.label {
    width: 47px;
    padding: 3px 23px 3px 0px;
}

div.col div.extra_text {
    width: 77px;
}

div.col div.extra_text p  {
    width: 72px;
}

form div.col {
    float : left;
    width: 298px;
    display: inline;
    clear: none;
    margin: 0px;
    padding: 0px 0px 20px ;
}


form  div.extra_text label.extra_info, div.extra_text span.extra_info{
    background-image: url(../images/icon_info.gif);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0px 23px 3px 0px;
}



#acc_form form  textarea {
    width: 444px;
}

#acc_form fieldset {
    border: 0px;
    width: 605px;
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

.acc_box_header {
    background: url(../images/acc_box_top.jpg) no-repeat left top;
    width: 280px;
    margin: 0px 0px 0px;
    padding: 8px 10px 8px 10px;
}

.acc_box {
    background: url(../images/acc_box.jpg) repeat-y;
    width: 280px;
    margin: 0px 0px 0px;
    padding: 10px 10px 0px 10px;
}

.acc_box_footer {
    background: url(../images/acc_box_footer.jpg) no-repeat left bottom;
    width: 300px;
    margin: 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}


.acc_box_header h2 {
    color: #ffffff;
    font-weight: normal;
}	

.acc_box li {
	list-style-type: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
}

/*acc box select box and label*/

.acc_box label {
    float: left;
    width: 80px;
}

.acc_box select {
    float: left;
    width: 180px;
    margin-bottom: 10px;
}



/*box side nav list*/

.side_nav a {
    padding: 0px 0px 0px 12px;
    text-decoration: none;
    background: url(../images/arrow.gif) no-repeat 0px 7px;

}
.side_nav a:hover {
    text-decoration: underline;;
    color: #000000;
}	


.side_nav li {
    border: 0px;
}




.acc_box li {
    border-bottom: 10px solid #ffffff;
}




/*highlight in acc list*/


table.acc_list tbody td a.td_link {
    padding: 0px 0px 0px 12px;
    text-decoration: none;
    background: url(../images/arrow.gif) no-repeat 0px 7px;

}

table.acc_list tbody td a.td_link:hover {
    text-decoration: underline;
}




.acc_box  a:hover {
    color: #000000;
    text-decoration: none;
}

.acc_box a {
    color: #7C9518;
    text-decoration: underline;
}


a.deleteItem, a.unDeleteItem {
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

ul.active_licences {
    float: left;
    clear: both;
    width: 100%;
}

form #qgp_cats div input.inputCheckbox {
    margin: 4px 0 0;
    width: 20px;
}

#content #form_body #qgp_cats  span.label {
    width: 239px;
    margin-left: 4px;
}

form #qgp_cats div.optional {
    float: left;
    width: 290px;
}