table td, table th {
  padding: 0px 5px 10px;
}

table tr {
  
}

#all_users {
  vertical-align: middle; 
}

div.col {
  float: left;
  width: 440px;
  margin: 0px 20px 20px 0px;  
}

div.col1 {
  float: left;
  width: 600px;
  margin: 0px 20px 20px 0px;  
}

div.col2 {
  float: left;
  width: 280px;
  margin: 0px 20px 20px 0px;  
}

#course_details {
  padding: 10px;
  background: #bcbcbc;
  border-radius: 6px;
  width: 970px;
}

div.criteria {
  width: 100%;
  float: left;
  clear: both;
  margin: 0px 0px 20px 0px;
}

div.criteria ul {
  padding: 10px 0px;
}

div.frm_row {
	float: left;
	width: 440px;
	margin: 0px 0px 10px 0px;
}

.col1 div.frm_row {
	float: left;
	width: 600px;
	margin: 0px 0px 10px 0px;
}

.col2 div.frm_row {
	float: left;
	width: 280px;
	margin: 0px 0px 10px 0px;
}


.col1 div.frm_row label {
	width: 600px;
	float: left;
}

.col1 select {
	margin-right: 10px;
}

.col2 div.frm_row label {
	width: 280px;
	float: left;
}

div.frm_row label {
	width: 120px;
	float: left;
}

.col2 input {
  width: 280px;
}

.col2 textarea {
  width: 280px;
  height: 300px;
}

div.criteria select {
  width: 320px;
}

div.criteria  div.extra_text {
    float: left;
    margin: 0;
    padding: 0;
    width: 136px;
}

div.required label {
  font-weight: bold;
}

div.frmbutton {
    float: left;
    margin: 5px 0 0;
    padding: 0;
    text-align: center;
    width: 440px;
}

div.matrix {
  float: left;
  width: 100%;
}

div.criteria div.required span {
    color: red;
    font-size: 8pt;
    font-weight: bold;
    
}

div.criteria input.inputRadio {
  float: left;
}

.reportTable  td,.reportTable  th {
	padding: 5px;
}

.reportTable {
	background: #ffffff;
	border: 1px solid #666666;
}

.reportTable thead th{
	background: #cdcdcd;
	border: 1px solid #666666;
	cursor: pointer;
}

.reportTable tbody tr td{
	border: 1px solid #dedede;
}


.reportTable .hover {
	background: #B0D80F;
}

.reportTable .hl {
	background: #B0D80F;
}


div.grp {
    background: #bcbcbc;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
}

/*
Override jQuery UI's default styles
*/
#content_wrapper .ui-tabs{
padding-top:27px;
}
#content_wrapper .ui-tabs .ui-widget-header {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    left: 12px;
    position: absolute;
    top: 0px;
}

#content_wrapper .ui-tabs.ui-widget-content {
    background: none;
    border: 0px;   
}

#content_wrapper .ui-tabs li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #bbbbbb;
}

#content_wrapper .ui-tabs .ui-state-default {
    border: 0px;       
}

#content_wrapper .ui-tabs .ui-tabs-panel {
    padding: 0px;
}

#content_wrapper .ui-tabs li.ui-tabs-selected {
    background: #ffffff;
}

#content_wrapper.ui-tabs li.ui-tabs-selected a:link, #content_wrapper .ui-tabs li.ui-tabs-selected a:visited {
    color: #111111;
}

#content_wrapper .ui-tabs ui-state-active a, #content_wrapper .ui-tabs .ui-state-active a:link, #content_wrapper .ui-tabs .ui-state-active a:visited {
    color: #111111;
    text-decoration: none;
}

#content_wrapper .ui-tabs .ui-state-default a, #content_wrapper .ui-tabs .ui-state-default a:link, #content_wrapper .ui-tabs .ui-state-default a:visited {
    color: #111111;
    text-decoration: none;
}

#content_wrapper .ui-tabs .ui-state-hover a, .ui-tabs .ui-state-hover a:hover {
    color: #ffffff;
}

#content_wrapper .ui-tabs .ui-state-default:hover {
    background: #666666;
}

#content_wrapper .ui-tabs .ui-tabs-selected:hover {
    background: #ffffff;
}

#content_wrapper .ui-tabs.ui-widget {
    font-size: 1.0em;
}
#content_wrapper .ui-tabs .ui-tabs-nav li{
margin:0 0.2em 1px 0 !important
}
.tableformsave{

}
.tableformsave.top{
position:absolute;
margin-top:-30px;
right:0px;
}
.tableformsave.bottom{
position: relative;
float: right;
margin-top:-22px;
}
/* override default form styles */
.tableformsave div.frmbutton{
margin:0;
width:auto;
}

span.max_date {
  width: 50px;
  padding-right: 5px;
}

table#assign_table tbody td,  table#assign_table thead th{
  text-align: right;
}

table tbody tr.FAILURES td{
  color: red;
  font-weight: bold;
}