div.filter {
	float: left;
	width: 310px;
	height: 30px;
	margin: 0px 10px 0px 0px;
}
	
div.filter label {
	width: 110px;
	float: left;
}

div.add_acc {
	float: left;
	clear: both;
}

img#reset_authority, #reset_acc_name {
	margin: 4px 0px 0px 5px;
}

.tasklist_filter {
	float: left;
	width: 400px;
	height: 30px;
	margin: 0px 10px 0px 0px;
	
}

div.tasklist_filter label {
	width: 130px;
	float: left;
}

input, select, textarea {
	float: left;
}


img.date_to_img, img.date_from_img {
	float: left;
	border: 0px;
	margin: 0px 0px 0px 10px;
	cursor: pointer;
}

input.date_to:hover, input.date_from:hover {
	cursor: pointer;
}


#date_filter_group {
	float: left;
	clear: both;
	height: 40px;
}